In [10]:
import pandas as pd

In [5]:
d=pd.read_excel("C:\\Users\\HP\\Downloads\\Excercise 1.xlsx")
df=pd.DataFrame(d)

In [6]:
df

    emp_id    name     dept  age  salary  experience
0      101   Satya       IT   24   40000           1
1      102  Ramesh       HR   29   50000           4
2      103   Vinay  Finance   31   60000           6
3      104    Giri       IT   28   45000           3
4      105   Anita       HR   35   52000           7
5      106   Pooja  Finance   30   61000           5
6      107    Ravi       IT   26   47000           2
7      108   Kiran       HR   29   50000           4
8      109   Manoj       IT   32   70000           8
9      110   Swati  Finance   27   55000           3
10     111  Deepak       HR   41   58000          10
11     112    Neha       IT   25   42000           2
12     113   Mohan  Finance   36   72000           9
13     114   Kavya       HR   33   53000           6
14     115    Arun       IT   29   46000           3
15     116   Suman  Finance   40   80000          12
16     117   Priya       HR   28   51000           4
17     118  Nikhil       IT   34   65000           7
18     119  Sanjay  Finance   37   75000          11
19     120   Meena       HR   26   48000           2

In [2]:
import pandas as pd

In [28]:
import pandas as pd

url = "https://raw.githubusercontent.com/mwaskom/seaborn-data/master/iris.csv"
df = pd.read_csv(url)
df

     sepal_length  sepal_width  petal_length  petal_width    species
0             5.1          3.5           1.4          0.2     setosa
1             4.9          3.0           1.4          0.2     setosa
2             4.7          3.2           1.3          0.2     setosa
3             4.6          3.1           1.5          0.2     setosa
4             5.0          3.6           1.4          0.2     setosa
..            ...          ...           ...          ...        ...
145           6.7          3.0           5.2          2.3  virginica
146           6.3          2.5           5.0          1.9  virginica
147           6.5          3.0           5.2          2.0  virginica
148           6.2          3.4           5.4          2.3  virginica
149           5.9          3.0           5.1          1.8  virginica

[150 rows x 5 columns]

In [2]:
d=pd.read_csv("C:\\Users\\HP\\Downloads\\iris.data.csv")
df=pd.DataFrame(d)

In [3]:
df

     sepal_length  sepal_width  petal_length  petal_width    species
0             5.1          3.5           1.4          0.2     setosa
1             4.9          3.0           1.4          0.2     setosa
2             4.7          3.2           1.3          0.2     setosa
3             4.6          3.1           1.5          0.2     setosa
4             5.0          3.6           1.4          0.2     setosa
..            ...          ...           ...          ...        ...
145           6.7          3.0           5.2          2.3  virginica
146           6.3          2.5           5.0          1.9  virginica
147           6.5          3.0           5.2          2.0  virginica
148           6.2          3.4           5.4          2.3  virginica
149           5.9          3.0           5.1          1.8  virginica

[150 rows x 5 columns]

In [56]:
data={
    'name': ['satya','ramesh','suresh','kiran','mohan','arjun','teja','pavan','varun','rajesh'],
    'age':  [23,31,34,29,40,22,28,35,26,30],
    'city': ['hyd','vizag','hyd','delhi','hyd','chennai','vizag','hyd','mumbai','delhi'],
    'salary':[25000,38000,45000,30000,52000,27000,33000,41000,29000,47000]
}
df=pd.DataFrame(data)
df

     name  age     city  salary
0   satya   23      hyd   25000
1  ramesh   31    vizag   38000
2  suresh   34      hyd   45000
3   kiran   29    delhi   30000
4   mohan   40      hyd   52000
5   arjun   22  chennai   27000
6    teja   28    vizag   33000
7   pavan   35      hyd   41000
8   varun   26   mumbai   29000
9  rajesh   30    delhi   47000

In [13]:
df.head()

     name  age   city  salary
0   satya   23    hyd   25000
1  ramesh   31  vizag   38000
2  suresh   34    hyd   45000
3   kiran   29  delhi   30000
4   mohan   40    hyd   52000

In [14]:
df.tail()

     name  age     city  salary
5   arjun   22  chennai   27000
6    teja   28    vizag   33000
7   pavan   35      hyd   41000
8   varun   26   mumbai   29000
9  rajesh   30    delhi   47000

In [16]:
df.shape

(10, 4)

In [17]:
df.describe()

             age        salary
count  10.000000     10.000000
mean   29.800000  36700.000000
std     5.533735   9298.147964
min    22.000000  25000.000000
25%    26.500000  29250.000000
50%    29.500000  35500.000000
75%    33.250000  44000.000000
max    40.000000  52000.000000

In [18]:
df[df['age']>30]

     name  age   city  salary
1  ramesh   31  vizag   38000
2  suresh   34    hyd   45000
4   mohan   40    hyd   52000
7   pavan   35    hyd   41000

In [19]:
df[df['city']=='hyd']

     name  age city  salary
0   satya   23  hyd   25000
2  suresh   34  hyd   45000
4   mohan   40  hyd   52000
7   pavan   35  hyd   41000

In [22]:
df[(df['age']>30) & (df["salary"]>40000)]

     name  age city  salary
2  suresh   34  hyd   45000
4   mohan   40  hyd   52000
7   pavan   35  hyd   41000

In [25]:
df["anual_sal"]=df['salary']*12

In [26]:
df

     name  age     city  salary  anual_col  anual_sal
0   satya   23      hyd   25000     300000     300000
1  ramesh   31    vizag   38000     456000     456000
2  suresh   34      hyd   45000     540000     540000
3   kiran   29    delhi   30000     360000     360000
4   mohan   40      hyd   52000     624000     624000
5   arjun   22  chennai   27000     324000     324000
6    teja   28    vizag   33000     396000     396000
7   pavan   35      hyd   41000     492000     492000
8   varun   26   mumbai   29000     348000     348000
9  rajesh   30    delhi   47000     564000     564000

In [28]:
df.drop('anual_col',axis=1)

     name  age     city  salary  anual_sal
0   satya   23      hyd   25000     300000
1  ramesh   31    vizag   38000     456000
2  suresh   34      hyd   45000     540000
3   kiran   29    delhi   30000     360000
4   mohan   40      hyd   52000     624000
5   arjun   22  chennai   27000     324000
6    teja   28    vizag   33000     396000
7   pavan   35      hyd   41000     492000
8   varun   26   mumbai   29000     348000
9  rajesh   30    delhi   47000     564000

In [30]:
df.sort_values('salary',ascending=False)

     name  age     city  salary  anual_col  anual_sal
4   mohan   40      hyd   52000     624000     624000
9  rajesh   30    delhi   47000     564000     564000
2  suresh   34      hyd   45000     540000     540000
7   pavan   35      hyd   41000     492000     492000
1  ramesh   31    vizag   38000     456000     456000
6    teja   28    vizag   33000     396000     396000
3   kiran   29    delhi   30000     360000     360000
8   varun   26   mumbai   29000     348000     348000
5   arjun   22  chennai   27000     324000     324000
0   satya   23      hyd   25000     300000     300000

In [6]:
##first way of creating a dictionary
data={
    "date":['1/1/2025','1/2/2025','1,3,2025','1/4/2025','1/5/2025'],
    "city":['mumbai','pune','nagpur','baglore','delhi'],
    "temp":[34,36,38,40,44],
    "windspeed":[10,12,15,17,14]
}
df=pd.DataFrame(data)
df

       date     city  temp  windspeed
0  1/1/2025   mumbai    34         10
1  1/2/2025     pune    36         12
2  1,3,2025   nagpur    38         15
3  1/4/2025  baglore    40         17
4  1/5/2025    delhi    44         14

In [7]:
#second way
data1=[
    {"date":'1/1/2025',"city":'mumbai',"temp":40,'windspeed':10},
    {"date":'1/2/2025',"city":'pune',"temp":41,'windspeed':11},
    {"date":'1/3/2025',"city":'delhi',"temp":42,'windspeed':12},
    {"date":'1/4/2025',"city":'banglore',"temp":43,'windspeed':13}
]
df2=pd.DataFrame(data1)
df2

       date      city  temp  windspeed
0  1/1/2025    mumbai    40         10
1  1/2/2025      pune    41         11
2  1/3/2025     delhi    42         12
3  1/4/2025  banglore    43         13

In [8]:
#third way list of list
data2=[
    ['1/1/2025','pune',45,10],
    ['1/2/2025','mumbai',46,11],
    ['1/3/2025','nagpur',47,12],
    ['1/4/2025','delhi',50,13]
]
df3=pd.DataFrame(data2,columns=["date","city","temp","windspeed"])
df3

       date    city  temp  windspeed
0  1/1/2025    pune    45         10
1  1/2/2025  mumbai    46         11
2  1/3/2025  nagpur    47         12
3  1/4/2025   delhi    50         13

In [9]:
d=pd.read_csv("C:\\Users\\HP\\Downloads\\iris.data.csv")
df=pd.DataFrame(d)

In [10]:
df

     sepal_length  sepal_width  petal_length  petal_width    species
0             5.1          3.5           1.4          0.2     setosa
1             4.9          3.0           1.4          0.2     setosa
2             4.7          3.2           1.3          0.2     setosa
3             4.6          3.1           1.5          0.2     setosa
4             5.0          3.6           1.4          0.2     setosa
..            ...          ...           ...          ...        ...
145           6.7          3.0           5.2          2.3  virginica
146           6.3          2.5           5.0          1.9  virginica
147           6.5          3.0           5.2          2.0  virginica
148           6.2          3.4           5.4          2.3  virginica
149           5.9          3.0           5.1          1.8  virginica

[150 rows x 5 columns]

In [11]:
df.ndim

2

In [12]:
df.shape

(150, 5)

In [13]:
df.shape[0]

150

In [14]:
df.shape[1]

5

In [15]:
df.head(2)

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa

In [16]:
df.tail(3)

     sepal_length  sepal_width  petal_length  petal_width    species
147           6.5          3.0           5.2          2.0  virginica
148           6.2          3.4           5.4          2.3  virginica
149           5.9          3.0           5.1          1.8  virginica

In [21]:
df.sample(5)

     sepal_length  sepal_width  petal_length  petal_width     species
24            4.8          3.4           1.9          0.2      setosa
26            5.0          3.4           1.6          0.4      setosa
81            5.5          2.4           3.7          1.0  versicolor
143           6.8          3.2           5.9          2.3   virginica
62            6.0          2.2           4.0          1.0  versicolor

In [22]:
df.columns

Index(['sepal_length', 'sepal_width', 'petal_length', 'petal_width',
       'species'],
      dtype='object')

In [27]:
df.values

array([[5.1, 3.5, 1.4, 0.2, 'setosa'],
       [4.9, 3.0, 1.4, 0.2, 'setosa'],
       [4.7, 3.2, 1.3, 0.2, 'setosa'],
       [4.6, 3.1, 1.5, 0.2, 'setosa'],
       [5.0, 3.6, 1.4, 0.2, 'setosa'],
       [5.4, 3.9, 1.7, 0.4, 'setosa'],
       [4.6, 3.4, 1.4, 0.3, 'setosa'],
       [5.0, 3.4, 1.5, 0.2, 'setosa'],
       [4.4, 2.9, 1.4, 0.2, 'setosa'],
       [4.9, 3.1, 1.5, 0.1, 'setosa'],
       [5.4, 3.7, 1.5, 0.2, 'setosa'],
       [4.8, 3.4, 1.6, 0.2, 'setosa'],
       [4.8, 3.0, 1.4, 0.1, 'setosa'],
       [4.3, 3.0, 1.1, 0.1, 'setosa'],
       [5.8, 4.0, 1.2, 0.2, 'setosa'],
       [5.7, 4.4, 1.5, 0.4, 'setosa'],
       [5.4, 3.9, 1.3, 0.4, 'setosa'],
       [5.1, 3.5, 1.4, 0.3, 'setosa'],
       [5.7, 3.8, 1.7, 0.3, 'setosa'],
       [5.1, 3.8, 1.5, 0.3, 'setosa'],
       [5.4, 3.4, 1.7, 0.2, 'setosa'],
       [5.1, 3.7, 1.5, 0.4, 'setosa'],
       [4.6, 3.6, 1.0, 0.2, 'setosa'],
       [5.1, 3.3, 1.7, 0.5, 'setosa'],
       [4.8, 3.4, 1.9, 0.2, 'setosa'],
       [5.0, 3.0, 1.6, 0.2, 'setosa'],
       [5.0, 3.4, 1.6, 0.4, 'setosa'],
       [5.2, 3.5, 1.5, 0.2, 'setosa'],
       [5.2, 3.4, 1.4, 0.2, 'setosa'],
       [4.7, 3.2, 1.6, 0.2, 'setosa'],
       [4.8, 3.1, 1.6, 0.2, 'setosa'],
       [5.4, 3.4, 1.5, 0.4, 'setosa'],
       [5.2, 4.1, 1.5, 0.1, 'setosa'],
       [5.5, 4.2, 1.4, 0.2, 'setosa'],
       [4.9, 3.1, 1.5, 0.2, 'setosa'],
       [5.0, 3.2, 1.2, 0.2, 'setosa'],
       [5.5, 3.5, 1.3, 0.2, 'setosa'],
       [4.9, 3.6, 1.4, 0.1, 'setosa'],
       [4.4, 3.0, 1.3, 0.2, 'setosa'],
       [5.1, 3.4, 1.5, 0.2, 'setosa'],
       [5.0, 3.5, 1.3, 0.3, 'setosa'],
       [4.5, 2.3, 1.3, 0.3, 'setosa'],
       [4.4, 3.2, 1.3, 0.2, 'setosa'],
       [5.0, 3.5, 1.6, 0.6, 'setosa'],
       [5.1, 3.8, 1.9, 0.4, 'setosa'],
       [4.8, 3.0, 1.4, 0.3, 'setosa'],
       [5.1, 3.8, 1.6, 0.2, 'setosa'],
       [4.6, 3.2, 1.4, 0.2, 'setosa'],
       [5.3, 3.7, 1.5, 0.2, 'setosa'],
       [5.0, 3.3, 1.4, 0.2, 'setosa'],
       [7.0, 3.2, 4.7, 1.4, 'versicolor'],
       [6.4, 3.2, 4.5, 1.5, 'versicolor'],
       [6.9, 3.1, 4.9, 1.5, 'versicolor'],
       [5.5, 2.3, 4.0, 1.3, 'versicolor'],
       [6.5, 2.8, 4.6, 1.5, 'versicolor'],
       [5.7, 2.8, 4.5, 1.3, 'versicolor'],
       [6.3, 3.3, 4.7, 1.6, 'versicolor'],
       [4.9, 2.4, 3.3, 1.0, 'versicolor'],
       [6.6, 2.9, 4.6, 1.3, 'versicolor'],
       [5.2, 2.7, 3.9, 1.4, 'versicolor'],
       [5.0, 2.0, 3.5, 1.0, 'versicolor'],
       [5.9, 3.0, 4.2, 1.5, 'versicolor'],
       [6.0, 2.2, 4.0, 1.0, 'versicolor'],
       [6.1, 2.9, 4.7, 1.4, 'versicolor'],
       [5.6, 2.9, 3.6, 1.3, 'versicolor'],
       [6.7, 3.1, 4.4, 1.4, 'versicolor'],
       [5.6, 3.0, 4.5, 1.5, 'versicolor'],
       [5.8, 2.7, 4.1, 1.0, 'versicolor'],
       [6.2, 2.2, 4.5, 1.5, 'versicolor'],
       [5.6, 2.5, 3.9, 1.1, 'versicolor'],
       [5.9, 3.2, 4.8, 1.8, 'versicolor'],
       [6.1, 2.8, 4.0, 1.3, 'versicolor'],
       [6.3, 2.5, 4.9, 1.5, 'versicolor'],
       [6.1, 2.8, 4.7, 1.2, 'versicolor'],
       [6.4, 2.9, 4.3, 1.3, 'versicolor'],
       [6.6, 3.0, 4.4, 1.4, 'versicolor'],
       [6.8, 2.8, 4.8, 1.4, 'versicolor'],
       [6.7, 3.0, 5.0, 1.7, 'versicolor'],
       [6.0, 2.9, 4.5, 1.5, 'versicolor'],
       [5.7, 2.6, 3.5, 1.0, 'versicolor'],
       [5.5, 2.4, 3.8, 1.1, 'versicolor'],
       [5.5, 2.4, 3.7, 1.0, 'versicolor'],
       [5.8, 2.7, 3.9, 1.2, 'versicolor'],
       [6.0, 2.7, 5.1, 1.6, 'versicolor'],
       [5.4, 3.0, 4.5, 1.5, 'versicolor'],
       [6.0, 3.4, 4.5, 1.6, 'versicolor'],
       [6.7, 3.1, 4.7, 1.5, 'versicolor'],
       [6.3, 2.3, 4.4, 1.3, 'versicolor'],
       [5.6, 3.0, 4.1, 1.3, 'versicolor'],
       [5.5, 2.5, 4.0, 1.3, 'versicolor'],
       [5.5, 2.6, 4.4, 1.2, 'versicolor'],
       [6.1, 3.0, 4.6, 1.4, 'versicolor'],
       [5.8, 2.6, 4.0, 1.2, 'versicolor'],
       [5.0, 2.3, 3.3, 1.0, 'versicolor'],
       [5.6, 2.7, 4.2, 1.3, 'versicolor'],
       [5.7, 3.0, 4.2, 1.2, 'versicolor'],
       [5.7, 2.9, 4.2, 1.3, 'versicolor'],
       [6.2, 2.9, 4.3, 1.3, 'versicolor'],
       [5.1, 2.5, 3.0, 1.1, 'versicolor'],
       [5.7, 2.8, 4.1, 1.3, 'versicolor'],
       [6.3, 3.3, 6.0, 2.5, 'virginica'],
       [5.8, 2.7, 5.1, 1.9, 'virginica'],
       [7.1, 3.0, 5.9, 2.1, 'virginica'],
       [6.3, 2.9, 5.6, 1.8, 'virginica'],
       [6.5, 3.0, 5.8, 2.2, 'virginica'],
       [7.6, 3.0, 6.6, 2.1, 'virginica'],
       [4.9, 2.5, 4.5, 1.7, 'virginica'],
       [7.3, 2.9, 6.3, 1.8, 'virginica'],
       [6.7, 2.5, 5.8, 1.8, 'virginica'],
       [7.2, 3.6, 6.1, 2.5, 'virginica'],
       [6.5, 3.2, 5.1, 2.0, 'virginica'],
       [6.4, 2.7, 5.3, 1.9, 'virginica'],
       [6.8, 3.0, 5.5, 2.1, 'virginica'],
       [5.7, 2.5, 5.0, 2.0, 'virginica'],
       [5.8, 2.8, 5.1, 2.4, 'virginica'],
       [6.4, 3.2, 5.3, 2.3, 'virginica'],
       [6.5, 3.0, 5.5, 1.8, 'virginica'],
       [7.7, 3.8, 6.7, 2.2, 'virginica'],
       [7.7, 2.6, 6.9, 2.3, 'virginica'],
       [6.0, 2.2, 5.0, 1.5, 'virginica'],
       [6.9, 3.2, 5.7, 2.3, 'virginica'],
       [5.6, 2.8, 4.9, 2.0, 'virginica'],
       [7.7, 2.8, 6.7, 2.0, 'virginica'],
       [6.3, 2.7, 4.9, 1.8, 'virginica'],
       [6.7, 3.3, 5.7, 2.1, 'virginica'],
       [7.2, 3.2, 6.0, 1.8, 'virginica'],
       [6.2, 2.8, 4.8, 1.8, 'virginica'],
       [6.1, 3.0, 4.9, 1.8, 'virginica'],
       [6.4, 2.8, 5.6, 2.1, 'virginica'],
       [7.2, 3.0, 5.8, 1.6, 'virginica'],
       [7.4, 2.8, 6.1, 1.9, 'virginica'],
       [7.9, 3.8, 6.4, 2.0, 'virginica'],
       [6.4, 2.8, 5.6, 2.2, 'virginica'],
       [6.3, 2.8, 5.1, 1.5, 'virginica'],
       [6.1, 2.6, 5.6, 1.4, 'virginica'],
       [7.7, 3.0, 6.1, 2.3, 'virginica'],
       [6.3, 3.4, 5.6, 2.4, 'virginica'],
       [6.4, 3.1, 5.5, 1.8, 'virginica'],
       [6.0, 3.0, 4.8, 1.8, 'virginica'],
       [6.9, 3.1, 5.4, 2.1, 'virginica'],
       [6.7, 3.1, 5.6, 2.4, 'virginica'],
       [6.9, 3.1, 5.1, 2.3, 'virginica'],
       [5.8, 2.7, 5.1, 1.9, 'virginica'],
       [6.8, 3.2, 5.9, 2.3, 'virginica'],
       [6.7, 3.3, 5.7, 2.5, 'virginica'],
       [6.7, 3.0, 5.2, 2.3, 'virginica'],
       [6.3, 2.5, 5.0, 1.9, 'virginica'],
       [6.5, 3.0, 5.2, 2.0, 'virginica'],
       [6.2, 3.4, 5.4, 2.3, 'virginica'],
       [5.9, 3.0, 5.1, 1.8, 'virginica']], dtype=object)

In [29]:
df.describe()

       sepal_length  sepal_width  petal_length  petal_width
count    150.000000   150.000000    150.000000   150.000000
mean       5.843333     3.057333      3.758000     1.199333
std        0.828066     0.435866      1.765298     0.762238
min        4.300000     2.000000      1.000000     0.100000
25%        5.100000     2.800000      1.600000     0.300000
50%        5.800000     3.000000      4.350000     1.300000
75%        6.400000     3.300000      5.100000     1.800000
max        7.900000     4.400000      6.900000     2.500000

In [31]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   sepal_length  150 non-null    float64
 1   sepal_width   150 non-null    float64
 2   petal_length  150 non-null    float64
 3   petal_width   150 non-null    float64
 4   species       150 non-null    object
dtypes: float64(4), object(1)
memory usage: 6.0+ KB

In [32]:
df.dtypes

sepal_length    float64
sepal_width     float64
petal_length    float64
petal_width     float64
species          object
dtype: object

In [33]:
df.T

,0,1,2,3,4,5,6,7,8,9,...,140,141,142,143,144,145,146,147,148,149
sepal_length,5.1,4.9,4.7,4.6,5.0,5.4,4.6,5.0,4.4,4.9,...,6.7,6.9,5.8,6.8,6.7,6.7,6.3,6.5,6.2,5.9
sepal_width,3.5,3.0,3.2,3.1,3.6,3.9,3.4,3.4,2.9,3.1,...,3.1,3.1,2.7,3.2,3.3,3.0,2.5,3.0,3.4,3.0
petal_length,1.4,1.4,1.3,1.5,1.4,1.7,1.4,1.5,1.4,1.5,...,5.6,5.1,5.1,5.9,5.7,5.2,5.0,5.2,5.4,5.1
petal_width,0.2,0.2,0.2,0.2,0.2,0.4,0.3,0.2,0.2,0.1,...,2.4,2.3,1.9,2.3,2.5,2.3,1.9,2.0,2.3,1.8
species,setosa,setosa,setosa,setosa,setosa,setosa,setosa,setosa,setosa,setosa,...,virginica,virginica,virginica,virginica,virginica,virginica,virginica,virginica,virginica,virginica

In [34]:
df3

       date    city  temp  windspeed
0  1/1/2025    pune    45         10
1  1/2/2025  mumbai    46         11
2  1/3/2025  nagpur    47         12
3  1/4/2025   delhi    50         13

In [36]:
df3["date"]

0    1/1/2025
1    1/2/2025
2    1/3/2025
3    1/4/2025
Name: date, dtype: object

In [37]:
df3.city

0      pune
1    mumbai
2    nagpur
3     delhi
Name: city, dtype: object

In [38]:
df3[['date','city']]

       date    city
0  1/1/2025    pune
1  1/2/2025  mumbai
2  1/3/2025  nagpur
3  1/4/2025   delhi

In [39]:
df3[['date','city','temp']]

       date    city  temp
0  1/1/2025    pune    45
1  1/2/2025  mumbai    46
2  1/3/2025  nagpur    47
3  1/4/2025   delhi    50

In [40]:
df3

       date    city  temp  windspeed
0  1/1/2025    pune    45         10
1  1/2/2025  mumbai    46         11
2  1/3/2025  nagpur    47         12
3  1/4/2025   delhi    50         13

In [42]:
df3[df3['temp']>47]

       date   city  temp  windspeed
3  1/4/2025  delhi    50         13

In [45]:
df3[(df3['temp']>46) & (df3['windspeed']<14)]

       date    city  temp  windspeed
2  1/3/2025  nagpur    47         12
3  1/4/2025   delhi    50         13

In [49]:
df3['temp'].mean()

np.float64(47.0)

In [3]:
df=pd.read_csv("C:\\Users\\HP\\Documents\\matches.csv")
df

,id,season,city,date,match_type,player_of_match,venue,team1,team2,toss_winner,toss_decision,winner,result,result_margin,target_runs,target_overs,super_over,method,umpire1,umpire2
0,335982,2007/08,Bangalore,2008-04-18,League,BB McCullum,M Chinnaswamy Stadium,Royal Challengers Bangalore,Kolkata Knight Riders,Royal Challengers Bangalore,field,Kolkata Knight Riders,runs,140.0,223.0,20.0,N,NaN,Asad Rauf,RE Koertzen
1,335983,2007/08,Chandigarh,2008-04-19,League,MEK Hussey,"Punjab Cricket Association Stadium, Mohali",Kings XI Punjab,Chennai Super Kings,Chennai Super Kings,bat,Chennai Super Kings,runs,33.0,241.0,20.0,N,NaN,MR Benson,SL Shastri
2,335984,2007/08,Delhi,2008-04-19,League,MF Maharoof,Feroz Shah Kotla,Delhi Daredevils,Rajasthan Royals,Rajasthan Royals,bat,Delhi Daredevils,wickets,9.0,130.0,20.0,N,NaN,Aleem Dar,GA Pratapkumar
3,335985,2007/08,Mumbai,2008-04-20,League,MV Boucher,Wankhede Stadium,Mumbai Indians,Royal Challengers Bangalore,Mumbai Indians,bat,Royal Challengers Bangalore,wickets,5.0,166.0,20.0,N,NaN,SJ Davis,DJ Harper
4,335986,2007/08,Kolkata,2008-04-20,League,DJ Hussey,Eden Gardens,Kolkata Knight Riders,Deccan Chargers,Deccan Chargers,bat,Kolkata Knight Riders,wickets,5.0,111.0,20.0,N,NaN,BF Bowden,K Hariharan
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1090,1426307,2024,Hyderabad,2024-05-19,League,Abhishek Sharma,"Rajiv Gandhi International Stadium, Uppal, Hyd...",Punjab Kings,Sunrisers Hyderabad,Punjab Kings,bat,Sunrisers Hyderabad,wickets,4.0,215.0,20.0,N,NaN,Nitin Menon,VK Sharma
1091,1426309,2024,Ahmedabad,2024-05-21,Qualifier 1,MA Starc,"Narendra Modi Stadium, Ahmedabad",Sunrisers Hyderabad,Kolkata Knight Riders,Sunrisers Hyderabad,bat,Kolkata Knight Riders,wickets,8.0,160.0,20.0,N,NaN,AK Chaudhary,R Pandit
1092,1426310,2024,Ahmedabad,2024-05-22,Eliminator,R Ashwin,"Narendra Modi Stadium, Ahmedabad",Royal Challengers Bengaluru,Rajasthan Royals,Rajasthan Royals,field,Rajasthan Royals,wickets,4.0,173.0,20.0,N,NaN,KN Ananthapadmanabhan,MV Saidharshan Kumar
1093,1426311,2024,Chennai,2024-05-24,Qualifier 2,Shahbaz Ahmed,"MA Chidambaram Stadium, Chepauk, Chennai",Sunrisers Hyderabad,Rajasthan Royals,Rajasthan Royals,field,Sunrisers Hyderabad,runs,36.0,176.0,20.0,N,NaN,Nitin Menon,VK Sharma
1094,1426312,2024,Chennai,2024-05-26,Final,MA Starc,"MA Chidambaram Stadium, Chepauk, Chennai",Sunrisers Hyderabad,Kolkata Knight Riders,Sunrisers Hyderabad,bat,Kolkata Knight Riders,wickets,8.0,114.0,20.0,N,NaN,J Madanagopal,Nitin Menon

In [52]:
dff.head(2)

,id,season,city,date,match_type,player_of_match,venue,team1,team2,toss_winner,toss_decision,winner,result,result_margin,target_runs,target_overs,super_over,method,umpire1,umpire2
0,335982,2007/08,Bangalore,2008-04-18,League,BB McCullum,M Chinnaswamy Stadium,Royal Challengers Bangalore,Kolkata Knight Riders,Royal Challengers Bangalore,field,Kolkata Knight Riders,runs,140.0,223.0,20.0,N,NaN,Asad Rauf,RE Koertzen
1,335983,2007/08,Chandigarh,2008-04-19,League,MEK Hussey,"Punjab Cricket Association Stadium, Mohali",Kings XI Punjab,Chennai Super Kings,Chennai Super Kings,bat,Chennai Super Kings,runs,33.0,241.0,20.0,N,NaN,MR Benson,SL Shastri

In [54]:
dff[dff['city']=='Mumbai']

,id,season,city,date,match_type,player_of_match,venue,team1,team2,toss_winner,toss_decision,winner,result,result_margin,target_runs,target_overs,super_over,method,umpire1,umpire2
3,335985,2007/08,Mumbai,2008-04-20,League,MV Boucher,Wankhede Stadium,Mumbai Indians,Royal Challengers Bangalore,Mumbai Indians,bat,Royal Challengers Bangalore,wickets,5.0,166.0,20.0,N,NaN,SJ Davis,DJ Harper
12,335994,2007/08,Mumbai,2008-04-27,League,AC Gilchrist,Dr DY Patil Sports Academy,Mumbai Indians,Deccan Chargers,Deccan Chargers,field,Deccan Chargers,wickets,10.0,155.0,20.0,N,NaN,Asad Rauf,SL Shastri
22,336004,2007/08,Mumbai,2008-05-04,League,SM Pollock,Dr DY Patil Sports Academy,Mumbai Indians,Delhi Daredevils,Delhi Daredevils,field,Mumbai Indians,runs,29.0,163.0,20.0,N,NaN,IL Howell,RE Koertzen
26,336008,2007/08,Mumbai,2008-05-07,League,A Nehra,Dr DY Patil Sports Academy,Mumbai Indians,Rajasthan Royals,Mumbai Indians,field,Mumbai Indians,wickets,7.0,104.0,20.0,N,NaN,DJ Harper,RE Koertzen
35,336018,2007/08,Mumbai,2008-05-14,League,ST Jayasuriya,Wankhede Stadium,Mumbai Indians,Chennai Super Kings,Mumbai Indians,field,Mumbai Indians,wickets,9.0,157.0,20.0,N,NaN,BR Doctrove,AM Saheba
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1048,1426263,2024,Mumbai,2024-04-11,League,JJ Bumrah,"Wankhede Stadium, Mumbai",Royal Challengers Bengaluru,Mumbai Indians,Mumbai Indians,field,Mumbai Indians,wickets,7.0,197.0,20.0,N,NaN,Nitin Menon,VA Kulkarni
1052,1426267,2024,Mumbai,2024-04-14,League,M Pathirana,"Wankhede Stadium, Mumbai",Chennai Super Kings,Mumbai Indians,Mumbai Indians,field,Chennai Super Kings,runs,20.0,207.0,20.0,N,NaN,Nitin Menon,HAS Khalid
1074,1426289,2024,Mumbai,2024-05-03,League,VR Iyer,"Wankhede Stadium, Mumbai",Kolkata Knight Riders,Mumbai Indians,Mumbai Indians,field,Kolkata Knight Riders,runs,24.0,170.0,20.0,N,NaN,J Madanagopal,Tapan Sharma
1078,1426293,2024,Mumbai,2024-05-06,League,SA Yadav,"Wankhede Stadium, Mumbai",Sunrisers Hyderabad,Mumbai Indians,Mumbai Indians,field,Mumbai Indians,wickets,7.0,174.0,20.0,N,NaN,Navdeep Singh,Tapan Sharma
1088,1426305,2024,Mumbai,2024-05-17,League,N Pooran,"Wankhede Stadium, Mumbai",Lucknow Super Giants,Mumbai Indians,Mumbai Indians,field,Lucknow Super Giants,runs,18.0,215.0,20.0,N,NaN,Navdeep Singh,R Pandit

In [55]:
def total_match(city):
    x=dff[dff["city"]==city]
    return x.shape[0]
total_match("Hyderabad")

77

In [56]:
dff.columns

Index(['id', 'season', 'city', 'date', 'match_type', 'player_of_match',
       'venue', 'team1', 'team2', 'toss_winner', 'toss_decision', 'winner',
       'result', 'result_margin', 'target_runs', 'target_overs', 'super_over',
       'method', 'umpire1', 'umpire2'],
      dtype='object')

In [ ]:
## city= mumbai and winner =mumbai_indians
dff[(dff['city']==)&()]

In [58]:
#get all the matches in mumbai in mumbai season 2016
dff[(dff["city"]=="Mumbai") & (dff['season']=="2016")]

,id,season,city,date,match_type,player_of_match,venue,team1,team2,toss_winner,toss_decision,winner,result,result_margin,target_runs,target_overs,super_over,method,umpire1,umpire2
517,980901,2016,Mumbai,2016-04-09,League,AM Rahane,Wankhede Stadium,Mumbai Indians,Rising Pune Supergiants,Mumbai Indians,bat,Rising Pune Supergiants,wickets,9.0,122.0,20.0,N,NaN,HDPK Dharmasena,CK Nandan
525,980917,2016,Mumbai,2016-04-16,League,AJ Finch,Wankhede Stadium,Mumbai Indians,Gujarat Lions,Gujarat Lions,field,Gujarat Lions,wickets,3.0,144.0,20.0,N,NaN,HDPK Dharmasena,VK Sharma
530,980927,2016,Mumbai,2016-04-20,League,RG Sharma,Wankhede Stadium,Mumbai Indians,Royal Challengers Bangalore,Mumbai Indians,field,Mumbai Indians,wickets,6.0,171.0,20.0,N,NaN,AK Chaudhary,CK Nandan
540,980947,2016,Mumbai,2016-04-28,League,RG Sharma,Wankhede Stadium,Mumbai Indians,Kolkata Knight Riders,Mumbai Indians,field,Mumbai Indians,wickets,6.0,175.0,20.0,N,NaN,Nitin Menon,RJ Tucker

In [59]:
dff["match_type"].unique()

array(['League', 'Semi Final', 'Final', '3rd Place Play-Off',
       'Qualifier 1', 'Elimination Final', 'Qualifier 2', 'Eliminator'],
      dtype=object)

In [60]:
dff[(dff["city"]=="Mumbai") & (dff["match_type"]=="Final")]

,id,season,city,date,match_type,player_of_match,venue,team1,team2,toss_winner,toss_decision,winner,result,result_margin,target_runs,target_overs,super_over,method,umpire1,umpire2
57,336040,2007/08,Mumbai,2008-06-01,Final,YK Pathan,Dr DY Patil Sports Academy,Chennai Super Kings,Rajasthan Royals,Rajasthan Royals,field,Rajasthan Royals,wickets,3.0,164.0,20.0,N,NaN,BF Bowden,RE Koertzen
174,419165,2009/10,Mumbai,2010-04-25,Final,SK Raina,Dr DY Patil Sports Academy,Chennai Super Kings,Mumbai Indians,Chennai Super Kings,bat,Chennai Super Kings,runs,22.0,169.0,20.0,N,NaN,RE Koertzen,SJA Taufel
695,1136620,2018,Mumbai,2018-05-27,Final,SR Watson,Wankhede Stadium,Sunrisers Hyderabad,Chennai Super Kings,Chennai Super Kings,field,Chennai Super Kings,wickets,8.0,179.0,20.0,N,NaN,M Erasmus,S Ravi

In [33]:
dff[dff['super_over']=='Y'].shape[0]

14

In [35]:
dff[['umpire1','umpire2']].stack().value_counts()

S Ravi             131
AK Chaudhary       131
Nitin Menon        104
HDPK Dharmasena     98
C Shamshuddin       88
                  ...
TH Wijewardene       5
K Bharatan           3
SD Ranade            2
AG Wharf             2
Subroto Das          1
Name: count, Length: 70, dtype: int64

In [38]:
dff[dff['toss_decision']=='bat'].shape[0]

391

id      season  city       date        match_type  player_of_match  venue                                      team1                team2                        toss_winner          toss_decision  winner                       result   result_margin  target_runs  target_overs  super_over  method  umpire1       umpire2
829807  2015    Hyderabad  2015-05-15  League      V Kohli          Rajiv Gandhi International Stadium, Uppal  Sunrisers Hyderabad  Royal Challengers Bangalore  Sunrisers Hyderabad  bat            Royal Challengers Bangalore  wickets  6.0            81.0         6.0           N           D/L     AK Chaudhary  HDPK Dharmasena    1
Name: count, dtype: int64

In [43]:
#both team1 one and team 2 are played in the 2019 
dff[(dff['team1']=='Chennai Super Kings') | (dff['team2']=='Chennai Super Kings') & (dff['season']=='2019')]

,id,season,city,date,match_type,player_of_match,venue,team1,team2,toss_winner,toss_decision,winner,result,result_margin,target_runs,target_overs,super_over,method,umpire1,umpire2
7,335989,2007/08,Chennai,2008-04-23,League,ML Hayden,"MA Chidambaram Stadium, Chepauk",Chennai Super Kings,Mumbai Indians,Mumbai Indians,field,Chennai Super Kings,runs,6.0,209.0,20.0,N,NaN,DJ Harper,GA Pratapkumar
11,335993,2007/08,Chennai,2008-04-26,League,JDP Oram,"MA Chidambaram Stadium, Chepauk",Chennai Super Kings,Kolkata Knight Riders,Kolkata Knight Riders,bat,Chennai Super Kings,wickets,9.0,148.0,20.0,N,NaN,BF Bowden,AV Jayaprakash
19,336001,2007/08,Chennai,2008-05-02,League,V Sehwag,"MA Chidambaram Stadium, Chepauk",Chennai Super Kings,Delhi Daredevils,Chennai Super Kings,bat,Delhi Daredevils,wickets,8.0,170.0,20.0,N,NaN,BF Bowden,K Hariharan
25,336007,2007/08,Chennai,2008-05-06,League,AC Gilchrist,"MA Chidambaram Stadium, Chepauk",Chennai Super Kings,Deccan Chargers,Deccan Chargers,field,Deccan Chargers,wickets,7.0,145.0,20.0,N,NaN,MR Benson,RB Tiffin
30,336013,2007/08,Chennai,2008-05-10,League,L Balaji,"MA Chidambaram Stadium, Chepauk",Chennai Super Kings,Kings XI Punjab,Kings XI Punjab,field,Chennai Super Kings,runs,18.0,182.0,20.0,N,NaN,AV Jayaprakash,BG Jerling
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1057,1426272,2024,Lucknow,2024-04-19,League,KL Rahul,Bharat Ratna Shri Atal Bihari Vajpayee Ekana C...,Chennai Super Kings,Lucknow Super Giants,Lucknow Super Giants,field,Lucknow Super Giants,wickets,8.0,177.0,20.0,N,NaN,AK Chaudhary,R Pandit
1062,1426277,2024,Chennai,2024-04-23,League,MP Stoinis,"MA Chidambaram Stadium, Chepauk, Chennai",Chennai Super Kings,Lucknow Super Giants,Lucknow Super Giants,field,Lucknow Super Giants,wickets,6.0,211.0,20.0,N,NaN,NA Patwardhan,Tapan Sharma
1069,1426284,2024,Chennai,2024-04-28,League,RD Gaikwad,"MA Chidambaram Stadium, Chepauk, Chennai",Chennai Super Kings,Sunrisers Hyderabad,Sunrisers Hyderabad,field,Chennai Super Kings,runs,78.0,213.0,20.0,N,NaN,R Pandit,MV Saidharshan Kumar
1072,1426287,2024,Chennai,2024-05-01,League,Harpreet Brar,"MA Chidambaram Stadium, Chepauk, Chennai",Chennai Super Kings,Punjab Kings,Punjab Kings,field,Punjab Kings,wickets,7.0,163.0,20.0,N,NaN,HAS Khalid,VK Sharma
1076,1426291,2024,Dharamsala,2024-05-05,League,RA Jadeja,"Himachal Pradesh Cricket Association Stadium, ...",Chennai Super Kings,Punjab Kings,Punjab Kings,field,Chennai Super Kings,runs,28.0,168.0,20.0,N,NaN,A Nand Kishore,VA Kulkarni

In [44]:
dff.head(1)

,id,season,city,date,match_type,player_of_match,venue,team1,team2,toss_winner,toss_decision,winner,result,result_margin,target_runs,target_overs,super_over,method,umpire1,umpire2
0,335982,2007/08,Bangalore,2008-04-18,League,BB McCullum,M Chinnaswamy Stadium,Royal Challengers Bangalore,Kolkata Knight Riders,Royal Challengers Bangalore,field,Kolkata Knight Riders,runs,140.0,223.0,20.0,N,NaN,Asad Rauf,RE Koertzen

In [48]:
dff[(dff['winner']==dff['toss_winner']) & (dff['season']=='2017')]

,id,season,city,date,match_type,player_of_match,venue,team1,team2,toss_winner,toss_decision,winner,result,result_margin,target_runs,target_overs,super_over,method,umpire1,umpire2
578,1082592,2017,Pune,2017-04-06,League,SPD Smith,Maharashtra Cricket Association Stadium,Rising Pune Supergiant,Mumbai Indians,Rising Pune Supergiant,field,Rising Pune Supergiant,wickets,7.0,185.0,20.0,N,NaN,A Nand Kishore,S Ravi
579,1082593,2017,Rajkot,2017-04-07,League,CA Lynn,Saurashtra Cricket Association Stadium,Gujarat Lions,Kolkata Knight Riders,Kolkata Knight Riders,field,Kolkata Knight Riders,wickets,10.0,184.0,20.0,N,NaN,Nitin Menon,CK Nandan
580,1082594,2017,Indore,2017-04-08,League,GJ Maxwell,Holkar Cricket Stadium,Kings XI Punjab,Rising Pune Supergiant,Kings XI Punjab,field,Kings XI Punjab,wickets,6.0,164.0,20.0,N,NaN,AK Chaudhary,C Shamshuddin
581,1082595,2017,Bengaluru,2017-04-08,League,KM Jadhav,M.Chinnaswamy Stadium,Royal Challengers Bangalore,Delhi Daredevils,Royal Challengers Bangalore,bat,Royal Challengers Bangalore,runs,15.0,158.0,20.0,N,NaN,S Ravi,VK Sharma
582,1082596,2017,Hyderabad,2017-04-09,League,Rashid Khan,"Rajiv Gandhi International Stadium, Uppal",Sunrisers Hyderabad,Gujarat Lions,Sunrisers Hyderabad,field,Sunrisers Hyderabad,wickets,9.0,136.0,20.0,N,NaN,A Deshmukh,NJ Llong
583,1082597,2017,Mumbai,2017-04-09,League,N Rana,Wankhede Stadium,Mumbai Indians,Kolkata Knight Riders,Mumbai Indians,field,Mumbai Indians,wickets,4.0,179.0,20.0,N,NaN,Nitin Menon,CK Nandan
586,1082600,2017,Mumbai,2017-04-12,League,JJ Bumrah,Wankhede Stadium,Mumbai Indians,Sunrisers Hyderabad,Mumbai Indians,field,Mumbai Indians,wickets,4.0,159.0,20.0,N,NaN,Nitin Menon,CK Nandan
587,1082601,2017,Kolkata,2017-04-13,League,SP Narine,Eden Gardens,Kolkata Knight Riders,Kings XI Punjab,Kolkata Knight Riders,field,Kolkata Knight Riders,wickets,8.0,171.0,20.0,N,NaN,A Deshmukh,NJ Llong
588,1082602,2017,Bangalore,2017-04-14,League,KA Pollard,M Chinnaswamy Stadium,Royal Challengers Bangalore,Mumbai Indians,Mumbai Indians,field,Mumbai Indians,wickets,4.0,143.0,20.0,N,NaN,KN Ananthapadmanabhan,AK Chaudhary
589,1082603,2017,Rajkot,2017-04-14,League,AJ Tye,Saurashtra Cricket Association Stadium,Gujarat Lions,Rising Pune Supergiant,Gujarat Lions,field,Gujarat Lions,wickets,7.0,172.0,20.0,N,NaN,A Nand Kishore,S Ravi
591,1082605,2017,Delhi,2017-04-15,League,CJ Anderson,Feroz Shah Kotla,Delhi Daredevils,Kings XI Punjab,Delhi Daredevils,bat,Delhi Daredevils,runs,51.0,189.0,20.0,N,NaN,YC Barde,Nitin Menon
592,1082606,2017,Mumbai,2017-04-16,League,N Rana,Wankhede Stadium,Mumbai Indians,Gujarat Lions,Mumbai Indians,field,Mumbai Indians,wickets,6.0,177.0,20.0,N,NaN,A Nand Kishore,S Ravi
597,1082611,2017,Hyderabad,2017-04-19,League,KS Williamson,"Rajiv Gandhi International Stadium, Uppal",Sunrisers Hyderabad,Delhi Daredevils,Sunrisers Hyderabad,bat,Sunrisers Hyderabad,runs,15.0,192.0,20.0,N,NaN,CB Gaffaney,NJ Llong
598,1082612,2017,Indore,2017-04-20,League,JC Buttler,Holkar Cricket Stadium,Kings XI Punjab,Mumbai Indians,Mumbai Indians,field,Mumbai Indians,wickets,8.0,199.0,20.0,N,NaN,M Erasmus,C Shamshuddin
599,1082613,2017,Kolkata,2017-04-21,League,SK Raina,Eden Gardens,Kolkata Knight Riders,Gujarat Lions,Gujarat Lions,field,Gujarat Lions,wickets,4.0,188.0,20.0,N,NaN,CB Gaffaney,Nitin Menon
601,1082615,2017,Pune,2017-04-22,League,MS Dhoni,Maharashtra Cricket Association Stadium,Rising Pune Supergiant,Sunrisers Hyderabad,Rising Pune Supergiant,field,Rising Pune Supergiant,wickets,6.0,177.0,20.0,N,NaN,AY Dandekar,A Deshmukh
605,1082620,2017,Pune,2017-04-26,League,RV Uthappa,Maharashtra Cricket Association Stadium,Rising Pune Supergiant,Kolkata Knight Riders,Kolkata Knight Riders,field,Kolkata Knight Riders,wickets,7.0,183.0,20.0,N,NaN,AY Dandekar,NJ Llong
606,1082621,2017,Bangalore,2017-04-27,League,AJ Tye,M Chinnaswamy Stadium,Royal Challengers Bangalore,Gujarat Lions,Gujarat Lions,field,Gujarat Lions,wickets,7.0,135.0,20.0,N,NaN,AK Chaudhary,C Shamshuddin
607,1082622,2017,Kolkata,2017-04-28,League,G Gambhir,Eden Gardens,Kolkata Knight Riders,Delhi Daredevils,Kolkata Knight Riders,field,Kolkata Knight Riders,wickets,7.0,161.0,20.0,N,NaN,NJ Llong,S Ravi
611,1082626,2017,Chandigarh,2017-04-30,League,Sandeep Sharma,"Punjab Cricket Association IS Bindra Stadium, ...",Kings XI Punjab,Delhi Daredevils,Kings XI Punjab,field,Kings XI Punjab,wickets,10.0,68.0,20.0,N,NaN,YC Barde,CK Nandan
614,1082629,2017,Pune,2017-05-01,League,BA Stokes,Maharashtra Cricket Association Stadium,Rising Pune Supergiant,Gujarat Lions,Rising Pune Supergiant,field,Rising Pune Supergiant,wickets,5.0,162.0,20.0,N,NaN,M Erasmus,C Shamshuddin
615,1082630,2017,Delhi,2017-05-02,League,Mohammed Shami,Feroz Shah Kotla,Delhi Daredevils,Sunrisers Hyderabad,Delhi Daredevils,field,Delhi Daredevils,wickets,6.0,186.0,20.0,N,NaN,YC Barde,Nitin Menon
616,1082631,2017,Kolkata,2017-05-03,League,RA Tripathi,Eden Gardens,Kolkata Knight Riders,Rising Pune Supergiant,Rising Pune Supergiant,field,Rising Pune Supergiant,wickets,4.0,156.0,20.0,N,NaN,KN Ananthapadmanabhan,A Nand Kishore
617,1082632,2017,Delhi,2017-05-04,League,RR Pant,Feroz Shah Kotla,Delhi Daredevils,Gujarat Lions,Delhi Daredevils,field,Delhi Daredevils,wickets,7.0,209.0,20.0,N,NaN,M Erasmus,Nitin Menon
621,1082636,2017,Bangalore,2017-05-07,League,SP Narine,M Chinnaswamy Stadium,Royal Challengers Bangalore,Kolkata Knight Riders,Kolkata Knight Riders,field,Kolkata Knight Riders,wickets,6.0,159.0,20.0,N,NaN,AY Dandekar,C Shamshuddin
622,1082637,2017,Chandigarh,2017-05-07,League,DR Smith,"Punjab Cricket Association IS Bindra Stadium, ...",Kings XI Punjab,Gujarat Lions,Gujarat Lions,field,Gujarat Lions,wickets,6.0,190.0,20.0,N,NaN,A Nand Kishore,VK Sharma
625,1082640,2017,Kanpur,2017-05-10,League,SS Iyer,Green Park,Gujarat Lions,Delhi Daredevils,Delhi Daredevils,field,Delhi Daredevils,wickets,2.0,196.0,20.0,N,NaN,YC Barde,AK Chaudhary
627,1082642,2017,Delhi,2017-05-12,League,KK Nair,Feroz Shah Kotla,Delhi Daredevils,Rising Pune Supergiant,Delhi Daredevils,bat,Delhi Daredevils,runs,7.0,169.0,20.0,N,NaN,KN Ananthapadmanabhan,CK Nandan
628,1082643,2017,Kanpur,2017-05-13,League,Mohammed Siraj,Green Park,Gujarat Lions,Sunrisers Hyderabad,Sunrisers Hyderabad,field,Sunrisers Hyderabad,wickets,8.0,155.0,20.0,N,NaN,AK Chaudhary,Nitin Menon
630,1082645,2017,Pune,2017-05-14,League,JD Unadkat,Maharashtra Cricket Association Stadium,Rising Pune Supergiant,Kings XI Punjab,Rising Pune Supergiant,field,Rising Pune Supergiant,wickets,9.0,74.0,20.0,N,NaN,AY Dandekar,A Deshmukh
631,1082646,2017,Delhi,2017-05-14,League,HV Patel,Feroz Shah Kotla,Delhi Daredevils,Royal Challengers Bangalore,Royal Challengers Bangalore,bat,Royal Challengers Bangalore,runs,10.0,162.0,20.0,N,NaN,CK Nandan,C Shamshuddin
633,1082648,2017,Bangalore,2017-05-17,Eliminator,NM Coulter-Nile,M Chinnaswamy Stadium,Sunrisers Hyderabad,Kolkata Knight Riders,Kolkata Knight Riders,field,Kolkata Knight Riders,wickets,7.0,48.0,6.0,N,D/L,AK Chaudhary,Nitin Menon
634,1082649,2017,Bangalore,2017-05-19,Qualifier 2,KV Sharma,M Chinnaswamy Stadium,Mumbai Indians,Kolkata Knight Riders,Mumbai Indians,field,Mumbai Indians,wickets,6.0,108.0,20.0,N,NaN,NJ Llong,Nitin Menon
635,1082650,2017,Hyderabad,2017-05-21,Final,KH Pandya,"Rajiv Gandhi International Stadium, Uppal",Mumbai Indians,Rising Pune Supergiant,Mumbai Indians,bat,Mumbai Indians,runs,1.0,130.0,20.0,N,NaN,NJ Llong,S Ravi

In [49]:
#get all matches in Hyderabad between 2010 and 2015
dff[(dff['city']=='Hyderabad') & (dff['season']>='2010') &(dff['season']<='2015')]

,id,season,city,date,match_type,player_of_match,venue,team1,team2,toss_winner,toss_decision,winner,result,result_margin,target_runs,target_overs,super_over,method,umpire1,umpire2
176,501199,2011,Hyderabad,2011-04-09,League,SK Trivedi,"Rajiv Gandhi International Stadium, Uppal",Deccan Chargers,Rajasthan Royals,Rajasthan Royals,field,Rajasthan Royals,wickets,8.0,138.0,20.0,N,NaN,RE Koertzen,SK Tarapore
185,501208,2011,Hyderabad,2011-04-14,League,DW Steyn,"Rajiv Gandhi International Stadium, Uppal",Deccan Chargers,Royal Challengers Bangalore,Royal Challengers Bangalore,field,Deccan Chargers,runs,33.0,176.0,20.0,N,NaN,RE Koertzen,S Ravi
189,501212,2011,Hyderabad,2011-04-16,League,PC Valthaty,"Rajiv Gandhi International Stadium, Uppal",Deccan Chargers,Kings XI Punjab,Kings XI Punjab,field,Kings XI Punjab,wickets,8.0,166.0,20.0,N,NaN,RE Koertzen,S Ravi
200,501224,2011,Hyderabad,2011-04-24,League,SL Malinga,"Rajiv Gandhi International Stadium, Uppal",Deccan Chargers,Mumbai Indians,Deccan Chargers,field,Mumbai Indians,runs,37.0,173.0,20.0,N,NaN,HDPK Dharmasena,AL Hill
215,501239,2011,Hyderabad,2011-05-03,League,YK Pathan,"Rajiv Gandhi International Stadium, Uppal",Deccan Chargers,Kolkata Knight Riders,Deccan Chargers,field,Kolkata Knight Riders,runs,20.0,170.0,20.0,N,NaN,S Asnani,RJ Tucker
219,501243,2011,Hyderabad,2011-05-05,League,V Sehwag,"Rajiv Gandhi International Stadium, Uppal",Deccan Chargers,Delhi Daredevils,Delhi Daredevils,field,Delhi Daredevils,wickets,4.0,176.0,20.0,N,NaN,Asad Rauf,AM Saheba
226,501250,2011,Hyderabad,2011-05-10,League,MR Marsh,"Rajiv Gandhi International Stadium, Uppal",Deccan Chargers,Pune Warriors,Deccan Chargers,bat,Pune Warriors,wickets,6.0,137.0,20.0,N,NaN,Asad Rauf,AM Saheba
298,548359,2012,Hyderabad,2012-05-08,League,Mandeep Singh,"Rajiv Gandhi International Stadium, Uppal",Deccan Chargers,Kings XI Punjab,Deccan Chargers,field,Kings XI Punjab,runs,25.0,171.0,20.0,N,NaN,HDPK Dharmasena,BNJ Oxenford
300,548329,2012,Hyderabad,2012-05-10,League,DA Warner,"Rajiv Gandhi International Stadium, Uppal",Deccan Chargers,Delhi Daredevils,Deccan Chargers,bat,Delhi Daredevils,wickets,9.0,188.0,20.0,N,NaN,JD Cloete,SJA Taufel
313,548373,2012,Hyderabad,2012-05-18,League,DW Steyn,"Rajiv Gandhi International Stadium, Uppal",Deccan Chargers,Rajasthan Royals,Rajasthan Royals,bat,Deccan Chargers,wickets,5.0,127.0,20.0,N,NaN,S Ravi,SJA Taufel
316,548376,2012,Hyderabad,2012-05-20,League,DW Steyn,"Rajiv Gandhi International Stadium, Uppal",Deccan Chargers,Royal Challengers Bangalore,Royal Challengers Bangalore,field,Deccan Chargers,runs,9.0,133.0,20.0,N,NaN,S Ravi,SJA Taufel
324,598000,2013,Hyderabad,2013-04-05,League,A Mishra,"Rajiv Gandhi International Stadium, Uppal",Sunrisers Hyderabad,Pune Warriors,Pune Warriors,field,Sunrisers Hyderabad,runs,22.0,127.0,20.0,N,NaN,S Ravi,SJA Taufel
328,598004,2013,Hyderabad,2013-04-07,League,GH Vihari,"Rajiv Gandhi International Stadium, Uppal",Sunrisers Hyderabad,Royal Challengers Bangalore,Royal Challengers Bangalore,bat,Sunrisers Hyderabad,tie,NaN,131.0,20.0,Y,NaN,AK Chaudhary,S Ravi
346,598021,2013,Hyderabad,2013-04-19,League,GH Vihari,"Rajiv Gandhi International Stadium, Uppal",Sunrisers Hyderabad,Kings XI Punjab,Kings XI Punjab,bat,Sunrisers Hyderabad,wickets,5.0,124.0,20.0,N,NaN,HDPK Dharmasena,CK Nandan
364,598039,2013,Hyderabad,2013-05-01,League,I Sharma,"Rajiv Gandhi International Stadium, Uppal",Sunrisers Hyderabad,Mumbai Indians,Mumbai Indians,bat,Sunrisers Hyderabad,wickets,7.0,130.0,20.0,N,NaN,Asad Rauf,S Asnani
369,598044,2013,Hyderabad,2013-05-04,League,DJG Sammy,"Rajiv Gandhi International Stadium, Uppal",Sunrisers Hyderabad,Delhi Daredevils,Delhi Daredevils,bat,Sunrisers Hyderabad,wickets,6.0,81.0,20.0,N,NaN,Asad Rauf,S Asnani
375,598051,2013,Hyderabad,2013-05-08,League,SK Raina,"Rajiv Gandhi International Stadium, Uppal",Sunrisers Hyderabad,Chennai Super Kings,Sunrisers Hyderabad,field,Chennai Super Kings,runs,77.0,224.0,20.0,N,NaN,S Das,NJ Llong
389,598065,2013,Hyderabad,2013-05-17,League,A Mishra,"Rajiv Gandhi International Stadium, Uppal",Sunrisers Hyderabad,Rajasthan Royals,Sunrisers Hyderabad,bat,Sunrisers Hyderabad,runs,23.0,137.0,20.0,N,NaN,Asad Rauf,AK Chaudhary
393,598069,2013,Hyderabad,2013-05-19,League,PA Patel,"Rajiv Gandhi International Stadium, Uppal",Sunrisers Hyderabad,Kolkata Knight Riders,Kolkata Knight Riders,bat,Sunrisers Hyderabad,wickets,5.0,131.0,20.0,N,NaN,Asad Rauf,S Asnani
433,734001,2014,Hyderabad,2014-05-12,League,AT Rayudu,"Rajiv Gandhi International Stadium, Uppal",Sunrisers Hyderabad,Mumbai Indians,Sunrisers Hyderabad,bat,Mumbai Indians,wickets,7.0,158.0,20.0,N,NaN,HDPK Dharmasena,VA Kulkarni
436,734007,2014,Hyderabad,2014-05-14,League,WP Saha,"Rajiv Gandhi International Stadium, Uppal",Sunrisers Hyderabad,Kings XI Punjab,Kings XI Punjab,field,Kings XI Punjab,wickets,6.0,206.0,20.0,N,NaN,VA Kulkarni,PG Pathak
440,734015,2014,Hyderabad,2014-05-18,League,UT Yadav,"Rajiv Gandhi International Stadium, Uppal",Sunrisers Hyderabad,Kolkata Knight Riders,Sunrisers Hyderabad,bat,Kolkata Knight Riders,wickets,7.0,143.0,20.0,N,NaN,NJ Llong,CK Nandan
443,734021,2014,Hyderabad,2014-05-20,League,DA Warner,"Rajiv Gandhi International Stadium, Uppal",Sunrisers Hyderabad,Royal Challengers Bangalore,Royal Challengers Bangalore,bat,Sunrisers Hyderabad,wickets,7.0,161.0,20.0,N,NaN,AK Chaudhary,NJ Llong
490,829773,2015,Hyderabad,2015-05-02,League,DA Warner,"Rajiv Gandhi International Stadium, Uppal",Sunrisers Hyderabad,Chennai Super Kings,Chennai Super Kings,field,Sunrisers Hyderabad,runs,22.0,193.0,20.0,N,NaN,AK Chaudhary,K Srinivasan
504,829799,2015,Hyderabad,2015-05-11,League,DA Warner,"Rajiv Gandhi International Stadium, Uppal",Sunrisers Hyderabad,Kings XI Punjab,Sunrisers Hyderabad,bat,Sunrisers Hyderabad,runs,5.0,186.0,20.0,N,NaN,AK Chaudhary,HDPK Dharmasena
508,829807,2015,Hyderabad,2015-05-15,League,V Kohli,"Rajiv Gandhi International Stadium, Uppal",Sunrisers Hyderabad,Royal Challengers Bangalore,Sunrisers Hyderabad,bat,Royal Challengers Bangalore,wickets,6.0,81.0,6.0,N,D/L,AK Chaudhary,HDPK Dharmasena
512,829815,2015,Hyderabad,2015-05-17,League,MJ McClenaghan,"Rajiv Gandhi International Stadium, Uppal",Sunrisers Hyderabad,Mumbai Indians,Sunrisers Hyderabad,bat,Mumbai Indians,wickets,9.0,114.0,20.0,N,NaN,CB Gaffaney,K Srinath

In [54]:
#8️⃣ get all matches where result was wickets and margin > 5
dff[(dff['result']=='wickets') & (dff['result_margin']>5.0)]

,id,season,city,date,match_type,player_of_match,venue,team1,team2,toss_winner,toss_decision,winner,result,result_margin,target_runs,target_overs,super_over,method,umpire1,umpire2
2,335984,2007/08,Delhi,2008-04-19,League,MF Maharoof,Feroz Shah Kotla,Delhi Daredevils,Rajasthan Royals,Rajasthan Royals,bat,Delhi Daredevils,wickets,9.0,130.0,20.0,N,NaN,Aleem Dar,GA Pratapkumar
5,335987,2007/08,Jaipur,2008-04-21,League,SR Watson,Sawai Mansingh Stadium,Rajasthan Royals,Kings XI Punjab,Kings XI Punjab,bat,Rajasthan Royals,wickets,6.0,167.0,20.0,N,NaN,Aleem Dar,RB Tiffin
6,335988,2007/08,Hyderabad,2008-04-22,League,V Sehwag,"Rajiv Gandhi International Stadium, Uppal",Deccan Chargers,Delhi Daredevils,Deccan Chargers,bat,Delhi Daredevils,wickets,9.0,143.0,20.0,N,NaN,IL Howell,AM Saheba
10,335992,2007/08,Bangalore,2008-04-26,League,SR Watson,M Chinnaswamy Stadium,Royal Challengers Bangalore,Rajasthan Royals,Rajasthan Royals,field,Rajasthan Royals,wickets,7.0,136.0,20.0,N,NaN,MR Benson,IL Howell
11,335993,2007/08,Chennai,2008-04-26,League,JDP Oram,"MA Chidambaram Stadium, Chepauk",Chennai Super Kings,Kolkata Knight Riders,Kolkata Knight Riders,bat,Chennai Super Kings,wickets,9.0,148.0,20.0,N,NaN,BF Bowden,AV Jayaprakash
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1072,1426287,2024,Chennai,2024-05-01,League,Harpreet Brar,"MA Chidambaram Stadium, Chepauk, Chennai",Chennai Super Kings,Punjab Kings,Punjab Kings,field,Punjab Kings,wickets,7.0,163.0,20.0,N,NaN,HAS Khalid,VK Sharma
1078,1426293,2024,Mumbai,2024-05-06,League,SA Yadav,"Wankhede Stadium, Mumbai",Sunrisers Hyderabad,Mumbai Indians,Mumbai Indians,field,Mumbai Indians,wickets,7.0,174.0,20.0,N,NaN,Navdeep Singh,Tapan Sharma
1080,1426295,2024,Hyderabad,2024-05-08,League,TM Head,"Rajiv Gandhi International Stadium, Uppal, Hyd...",Lucknow Super Giants,Sunrisers Hyderabad,Lucknow Super Giants,bat,Sunrisers Hyderabad,wickets,10.0,166.0,20.0,N,NaN,MV Saidharshan Kumar,YC Barde
1091,1426309,2024,Ahmedabad,2024-05-21,Qualifier 1,MA Starc,"Narendra Modi Stadium, Ahmedabad",Sunrisers Hyderabad,Kolkata Knight Riders,Sunrisers Hyderabad,bat,Kolkata Knight Riders,wickets,8.0,160.0,20.0,N,NaN,AK Chaudhary,R Pandit
1094,1426312,2024,Chennai,2024-05-26,Final,MA Starc,"MA Chidambaram Stadium, Chepauk, Chennai",Sunrisers Hyderabad,Kolkata Knight Riders,Sunrisers Hyderabad,bat,Kolkata Knight Riders,wickets,8.0,114.0,20.0,N,NaN,J Madanagopal,Nitin Menon

In [15]:
df.sort_values('salary',ascending=False)

     name  age     city  salary
4   mohan   40      hyd   52000
9  rajesh   30    delhi   47000
2  suresh   34      hyd   45000
7   pavan   35      hyd   41000
1  ramesh   31    vizag   38000
6    teja   28    vizag   33000
3   kiran   29    delhi   30000
8   varun   26   mumbai   29000
5   arjun   22  chennai   27000
0   satya   23      hyd   25000

In [12]:
df['salary'].mean()

np.float64(36700.0)

In [3]:
df1=pd.read_csv("C:\\Users\\HP\\Documents\\matches.csv")
df1

,id,season,city,date,match_type,player_of_match,venue,team1,team2,toss_winner,toss_decision,winner,result,result_margin,target_runs,target_overs,super_over,method,umpire1,umpire2
0,335982,2007/08,Bangalore,2008-04-18,League,BB McCullum,M Chinnaswamy Stadium,Royal Challengers Bangalore,Kolkata Knight Riders,Royal Challengers Bangalore,field,Kolkata Knight Riders,runs,140.0,223.0,20.0,N,NaN,Asad Rauf,RE Koertzen
1,335983,2007/08,Chandigarh,2008-04-19,League,MEK Hussey,"Punjab Cricket Association Stadium, Mohali",Kings XI Punjab,Chennai Super Kings,Chennai Super Kings,bat,Chennai Super Kings,runs,33.0,241.0,20.0,N,NaN,MR Benson,SL Shastri
2,335984,2007/08,Delhi,2008-04-19,League,MF Maharoof,Feroz Shah Kotla,Delhi Daredevils,Rajasthan Royals,Rajasthan Royals,bat,Delhi Daredevils,wickets,9.0,130.0,20.0,N,NaN,Aleem Dar,GA Pratapkumar
3,335985,2007/08,Mumbai,2008-04-20,League,MV Boucher,Wankhede Stadium,Mumbai Indians,Royal Challengers Bangalore,Mumbai Indians,bat,Royal Challengers Bangalore,wickets,5.0,166.0,20.0,N,NaN,SJ Davis,DJ Harper
4,335986,2007/08,Kolkata,2008-04-20,League,DJ Hussey,Eden Gardens,Kolkata Knight Riders,Deccan Chargers,Deccan Chargers,bat,Kolkata Knight Riders,wickets,5.0,111.0,20.0,N,NaN,BF Bowden,K Hariharan
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1090,1426307,2024,Hyderabad,2024-05-19,League,Abhishek Sharma,"Rajiv Gandhi International Stadium, Uppal, Hyd...",Punjab Kings,Sunrisers Hyderabad,Punjab Kings,bat,Sunrisers Hyderabad,wickets,4.0,215.0,20.0,N,NaN,Nitin Menon,VK Sharma
1091,1426309,2024,Ahmedabad,2024-05-21,Qualifier 1,MA Starc,"Narendra Modi Stadium, Ahmedabad",Sunrisers Hyderabad,Kolkata Knight Riders,Sunrisers Hyderabad,bat,Kolkata Knight Riders,wickets,8.0,160.0,20.0,N,NaN,AK Chaudhary,R Pandit
1092,1426310,2024,Ahmedabad,2024-05-22,Eliminator,R Ashwin,"Narendra Modi Stadium, Ahmedabad",Royal Challengers Bengaluru,Rajasthan Royals,Rajasthan Royals,field,Rajasthan Royals,wickets,4.0,173.0,20.0,N,NaN,KN Ananthapadmanabhan,MV Saidharshan Kumar
1093,1426311,2024,Chennai,2024-05-24,Qualifier 2,Shahbaz Ahmed,"MA Chidambaram Stadium, Chepauk, Chennai",Sunrisers Hyderabad,Rajasthan Royals,Rajasthan Royals,field,Sunrisers Hyderabad,runs,36.0,176.0,20.0,N,NaN,Nitin Menon,VK Sharma
1094,1426312,2024,Chennai,2024-05-26,Final,MA Starc,"MA Chidambaram Stadium, Chepauk, Chennai",Sunrisers Hyderabad,Kolkata Knight Riders,Sunrisers Hyderabad,bat,Kolkata Knight Riders,wickets,8.0,114.0,20.0,N,NaN,J Madanagopal,Nitin Menon

In [4]:
df2=pd.read_csv("C:\\Users\\HP\\Downloads\\deliveries.csv")
df2

,match_id,inning,batting_team,bowling_team,over,ball,batter,bowler,non_striker,batsman_runs,extra_runs,total_runs,extras_type,is_wicket,player_dismissed,dismissal_kind,fielder
0,335982,1,Kolkata Knight Riders,Royal Challengers Bangalore,0,1,SC Ganguly,P Kumar,BB McCullum,0,1,1,legbyes,0,NaN,NaN,NaN
1,335982,1,Kolkata Knight Riders,Royal Challengers Bangalore,0,2,BB McCullum,P Kumar,SC Ganguly,0,0,0,NaN,0,NaN,NaN,NaN
2,335982,1,Kolkata Knight Riders,Royal Challengers Bangalore,0,3,BB McCullum,P Kumar,SC Ganguly,0,1,1,wides,0,NaN,NaN,NaN
3,335982,1,Kolkata Knight Riders,Royal Challengers Bangalore,0,4,BB McCullum,P Kumar,SC Ganguly,0,0,0,NaN,0,NaN,NaN,NaN
4,335982,1,Kolkata Knight Riders,Royal Challengers Bangalore,0,5,BB McCullum,P Kumar,SC Ganguly,0,0,0,NaN,0,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
260915,1426312,2,Kolkata Knight Riders,Sunrisers Hyderabad,9,5,SS Iyer,AK Markram,VR Iyer,1,0,1,NaN,0,NaN,NaN,NaN
260916,1426312,2,Kolkata Knight Riders,Sunrisers Hyderabad,9,6,VR Iyer,AK Markram,SS Iyer,1,0,1,NaN,0,NaN,NaN,NaN
260917,1426312,2,Kolkata Knight Riders,Sunrisers Hyderabad,10,1,VR Iyer,Shahbaz Ahmed,SS Iyer,1,0,1,NaN,0,NaN,NaN,NaN
260918,1426312,2,Kolkata Knight Riders,Sunrisers Hyderabad,10,2,SS Iyer,Shahbaz Ahmed,VR Iyer,1,0,1,NaN,0,NaN,NaN,NaN
260919,1426312,2,Kolkata Knight Riders,Sunrisers Hyderabad,10,3,VR Iyer,Shahbaz Ahmed,SS Iyer,1,0,1,NaN,0,NaN,NaN,NaN

In [6]:
df1.columns #16.Extract all wickets taken in matches played at "Eden Gardens".

Index(['id', 'season', 'city', 'date', 'match_type', 'player_of_match',
       'venue', 'team1', 'team2', 'toss_winner', 'toss_decision', 'winner',
       'result', 'result_margin', 'target_runs', 'target_overs', 'super_over',
       'method', 'umpire1', 'umpire2'],
      dtype='object')

In [7]:
df2.columns

Index(['match_id', 'inning', 'batting_team', 'bowling_team', 'over', 'ball',
       'batter', 'bowler', 'non_striker', 'batsman_runs', 'extra_runs',
       'total_runs', 'extras_type', 'is_wicket', 'player_dismissed',
       'dismissal_kind', 'fielder'],
      dtype='object')

In [9]:
merge_df.columns

Index(['id', 'season', 'city', 'date', 'match_type', 'player_of_match',
       'venue', 'team1', 'team2', 'toss_winner', 'toss_decision', 'winner',
       'result', 'result_margin', 'target_runs', 'target_overs', 'super_over',
       'method', 'umpire1', 'umpire2', 'match_id', 'inning', 'batting_team',
       'bowling_team', 'over', 'ball', 'batter', 'bowler', 'non_striker',
       'batsman_runs', 'extra_runs', 'total_runs', 'extras_type', 'is_wicket',
       'player_dismissed', 'dismissal_kind', 'fielder'],
      dtype='object')

In [11]:
merge_df.shape[0]

260920

In [14]:
merge_df.shape[1]

37

In [16]:
#4.Check for matches that have no deliveries recorded.
df1[~df1['id'].isin(df2['match_id'])]

Empty DataFrame
Columns: [id, season, city, date, match_type, player_of_match, venue, team1, team2, toss_winner, toss_decision, winner, result, result_margin, target_runs, target_overs, super_over, method, umpire1, umpire2]
Index: []

In [20]:
#6.Merge only selected columns from matches (like id, season, winner) with deliveries.
q1=df1[['id','season','winner']] ##we are selected the columns from df1
m1=pd.merge(q1,df2,left_on='id',right_on='match_id',how='inner')
m1
print(m1.columns) ##output is came but i dont have it to occupy the space because of that i am keeping this one without this one output will visible

Index(['id', 'season', 'winner', 'match_id', 'inning', 'batting_team',
       'bowling_team', 'over', 'ball', 'batter', 'bowler', 'non_striker',
       'batsman_runs', 'extra_runs', 'total_runs', 'extras_type', 'is_wicket',
       'player_dismissed', 'dismissal_kind', 'fielder'],
      dtype='object')

In [24]:
#10.Extract all deliveries for the 2016 IPL season using merged data.
q2=df1[df1['season']=='2016'] #take all matches played in 2016
data=q2[['id','season','winner']]  #only selected columns it is not mendatoty by we did
#pd.merge(data,df2,left_on='id',right_on='match_id',how='inner')   this command execute the what we want

In [27]:
#11.Find all deliveries from matches where the city was "Mumbai".
q3=df1[df1['city']=='Mumbai']
m2=q3[['id','season','city']]
exe1=pd.merge(m2,df2,left_on='id',right_on='match_id',how='inner')
#this is execute what we want

In [30]:
#12.List all deliveries bowled in matches won by "Mumbai Indians".
q4=df1[df1['winner']=="Mumbai Indians"][['id','winner']]
exe2=pd.merge(q4,df2,left_on='id',right_on="match_id",how="inner")
# answer was camed

In [34]:
#13.Find total runs scored in finals across all seasons.
q1=df1[df1['match_type']=="Final"][['id','season','match_type']]
q2=df2[['match_id','total_runs']]
exe4=pd.merge(q1,q2,left_on='id',right_on='match_id',how='inner')['total_runs'].sum()

np.int64(5556)

In [36]:
data4={
    "date":['1/1/2025','1/2//2025','1/3/2025','1/4/2025','1/5/2025'],
    "city":["mumbai","pune","mumbai","pune","mumbai"],
    "windspeed":[10,11,12,14,15]
}
dff=pd.DataFrame(data4)
dff

        date    city  windspeed
0   1/1/2025  mumbai         10
1  1/2//2025    pune         11
2   1/3/2025  mumbai         12
3   1/4/2025    pune         14
4   1/5/2025  mumbai         15

In [40]:
a=dff.groupby('city')
for city,df in a:
    print(city)
    print(df)

mumbai
       date    city  windspeed
0  1/1/2025  mumbai         10
2  1/3/2025  mumbai         12
4  1/5/2025  mumbai         15
pune
        date  city  windspeed
1  1/2//2025  pune         11
3   1/4/2025  pune         14

In [42]:
#14.Filter all balls from matches decided by Duckworth-Lewis method (dl_applied == 1).
exe5=df1[df1['method']=='D/L']

In [47]:
#15.Find deliveries where the toss winner also won the match.
q6=df1[df1['toss_winner']==df1['winner']][['id','toss_winner','winner']]
exe6=pd.merge(q6,df2,left_on='id',right_on='match_id',how='inner')

In [6]:
#16.Extract all wickets taken in matches played at "Eden Gardens".
q1=df1[df1['venue']=="Eden Gardens"][['id','venue']]
q2=df2[df2['player_dismissed'].notnull()][['match_id','player_dismissed','dismissal_kind']] # here notnull only 
q=pd.merge(q1,q2,left_on='id',right_on='match_id',how='inner')

In [1]:
import pandas as pd
data={
    'name': ['satya','ramesh','suresh','kiran','mohan','arjun','teja','pavan','varun','rajesh'],
    'age':  [23,31,34,29,40,22,28,35,26,30],
    'city': ['hyd','vizag','hyd','delhi','hyd','chennai','vizag','hyd','mumbai','delhi'],
    'salary':[25000,38000,45000,30000,52000,27000,33000,41000,29000,47000]
}
df=pd.DataFrame(data)
df

     name  age     city  salary
0   satya   23      hyd   25000
1  ramesh   31    vizag   38000
2  suresh   34      hyd   45000
3   kiran   29    delhi   30000
4   mohan   40      hyd   52000
5   arjun   22  chennai   27000
6    teja   28    vizag   33000
7   pavan   35      hyd   41000
8   varun   26   mumbai   29000
9  rajesh   30    delhi   47000

In [15]:
a=df.groupby ('city')
for i,j in a:
    print(i)
    print(j)

chennai
    name  age     city  salary
5  arjun   22  chennai   27000
delhi
     name  age   city  salary
3   kiran   29  delhi   30000
9  rajesh   30  delhi   47000
hyd
     name  age city  salary
0   satya   23  hyd   25000
2  suresh   34  hyd   45000
4   mohan   40  hyd   52000
7   pavan   35  hyd   41000
mumbai
    name  age    city  salary
8  varun   26  mumbai   29000
vizag
     name  age   city  salary
1  ramesh   31  vizag   38000
6    teja   28  vizag   33000

In [18]:
df[df['name']=='kiran']

    name  age   city  salary
3  kiran   29  delhi   30000

In [20]:
df.iloc[3]

name      kiran
age          29
city      delhi
salary    30000
Name: 3, dtype: object

In [27]:
df['city'].value_counts()

city
hyd        4
vizag      2
delhi      2
chennai    1
mumbai     1
Name: count, dtype: int64

In [28]:
df

     name  age     city  salary
0   satya   23      hyd   25000
1  ramesh   31    vizag   38000
2  suresh   34      hyd   45000
3   kiran   29    delhi   30000
4   mohan   40      hyd   52000
5   arjun   22  chennai   27000
6    teja   28    vizag   33000
7   pavan   35      hyd   41000
8   varun   26   mumbai   29000
9  rajesh   30    delhi   47000

In [38]:
df.loc[0:2]

     name  age   city  salary
0   satya   23    hyd   25000
1  ramesh   31  vizag   38000
2  suresh   34    hyd   45000

In [39]:
df.iloc[0:2]

     name  age   city  salary
0   satya   23    hyd   25000
1  ramesh   31  vizag   38000

In [46]:
df.loc[:,['name','salary']]

     name  salary
0   satya   25000
1  ramesh   38000
2  suresh   45000
3   kiran   30000
4   mohan   52000
5   arjun   27000
6    teja   33000
7   pavan   41000
8   varun   29000
9  rajesh   47000

In [58]:
asd=df[df['city']=='hyd']
dsa=asd[asd['age']>30]
sad=dsa['salary'].mean()
print(asd)
print("-----")
print(dsa)
print("-----")
print(sad)

     name  age city  salary
0   satya   23  hyd   25000
2  suresh   34  hyd   45000
4   mohan   40  hyd   52000
7   pavan   35  hyd   41000
-----
     name  age city  salary
2  suresh   34  hyd   45000
4   mohan   40  hyd   52000
7   pavan   35  hyd   41000
-----
46000.0

In [59]:
df

     name  age     city  salary
0   satya   23      hyd   25000
1  ramesh   31    vizag   38000
2  suresh   34      hyd   45000
3   kiran   29    delhi   30000
4   mohan   40      hyd   52000
5   arjun   22  chennai   27000
6    teja   28    vizag   33000
7   pavan   35      hyd   41000
8   varun   26   mumbai   29000
9  rajesh   30    delhi   47000

In [61]:
asd=df[df['city']=='hyd']['salary'].mean()
dsa=df[(df['city']=='hyd') & (df['salary']>asd)]
dsa

     name  age city  salary
2  suresh   34  hyd   45000
4   mohan   40  hyd   52000
7   pavan   35  hyd   41000