In [1]:
import pandas as pd

In [2]:
df1=pd.read_csv("C:\\Users\\HP\\Documents\\matches.csv")
df1.columns

Index(['id', 'season', 'city', 'date', 'match_type', 'player_of_match',
       'venue', 'team1', 'team2', 'toss_winner', 'toss_decision', 'winner',
       'result', 'result_margin', 'target_runs', 'target_overs', 'super_over',
       'method', 'umpire1', 'umpire2'],
      dtype='object')

In [3]:
df2=pd.read_csv("C:\\Users\\HP\\Downloads\\deliveries.csv")
df2.columns

Index(['match_id', 'inning', 'batting_team', 'bowling_team', 'over', 'ball',
       'batter', 'bowler', 'non_striker', 'batsman_runs', 'extra_runs',
       'total_runs', 'extras_type', 'is_wicket', 'player_dismissed',
       'dismissal_kind', 'fielder'],
      dtype='object')

In [4]:
full=pd.merge(df1,df2,left_on='id',right_on='match_id',how='inner')
full.columns

Index(['id', 'season', 'city', 'date', 'match_type', 'player_of_match',
       'venue', 'team1', 'team2', 'toss_winner', 'toss_decision', 'winner',
       'result', 'result_margin', 'target_runs', 'target_overs', 'super_over',
       'method', 'umpire1', 'umpire2', 'match_id', 'inning', 'batting_team',
       'bowling_team', 'over', 'ball', 'batter', 'bowler', 'non_striker',
       'batsman_runs', 'extra_runs', 'total_runs', 'extras_type', 'is_wicket',
       'player_dismissed', 'dismissal_kind', 'fielder'],
      dtype='object')

In [5]:
#1.Join matches and deliveries to find total balls bowled per match.
a=full.groupby('match_id')['ball'].count()
a

match_id
335982     225
335983     248
335984     219
335985     246
335986     240
          ...
1426307    247
1426309    208
1426310    241
1426311    251
1426312    184
Name: ball, Length: 1095, dtype: int64

In [6]:
#2.For each match, get total runs scored by joining matches and deliveries.
a=full.groupby('match_id')['total_runs'].sum()
a

match_id
335982     304
335983     447
335984     261
335985     331
335986     222
          ...
1426307    429
1426309    323
1426310    346
1426311    314
1426312    227
Name: total_runs, Length: 1095, dtype: int64

In [7]:
#3.Find the top 10 highest-scoring matches.
a=full.groupby(['id','batting_team'])['total_runs'].sum().sort_values(ascending=False).head(10)
a

id       batting_team
1426268  Sunrisers Hyderabad            287
1422126  Sunrisers Hyderabad            277
1422134  Kolkata Knight Riders          272
1426273  Sunrisers Hyderabad            266
598027   Royal Challengers Bangalore    263
1426280  Punjab Kings                   262
1426268  Royal Challengers Bengaluru    262
1426280  Kolkata Knight Riders          261
1426281  Delhi Capitals                 257
1359512  Lucknow Super Giants           257
Name: total_runs, dtype: int64

In [8]:
#4.Find the number of wickets per match using join.
a=full.groupby('match_id')['is_wicket'].sum()
a

match_id
335982     13
335983      9
335984      9
335985     12
335986     15
           ..
1426307    11
1426309    12
1426310    14
1426311    16
1426312    12
Name: is_wicket, Length: 1095, dtype: int64

In [9]:
#5.List matches where more than 15 wides were bowled.
a=full[full['extras_type']=='wides']
b=a.groupby('id')['extra_runs'].sum()
c=b[b>15].sort_values(ascending=False).head(10)
c

id
1304049    33
419153     27
1426269    27
829737     26
548377     26
501254     25
1426268    25
419132     25
1304086    24
1312198    24
Name: extra_runs, dtype: int64

In [10]:
#6.Find the player with the most deliveries faced across all matches.
a=full.groupby('batter')['total_runs'].count().sort_values(ascending=False).head(10)
a

batter
V Kohli       6236
S Dhawan      5483
RG Sharma     5183
DA Warner     4849
SK Raina      4177
MS Dhoni      3947
RV Uthappa    3927
AM Rahane     3858
KD Karthik    3687
KL Rahul      3578
Name: total_runs, dtype: int64

In [11]:
#7.Find total boundaries (4s &amp; 6s) per match by joining datasets.
a=full[(full['batsman_runs']==4) | (full['batsman_runs']==6)]
b=a.groupby(['match_id','batting_team'])['batsman_runs'].count()
b

match_id  batting_team
335982    Kolkata Knight Riders          29
          Royal Challengers Bangalore     6
335983    Chennai Super Kings            36
          Kings XI Punjab                27
335984    Delhi Daredevils               19
                                         ..
1426310   Royal Challengers Bengaluru    21
1426311   Rajasthan Royals               18
          Sunrisers Hyderabad            20
1426312   Kolkata Knight Riders          16
          Sunrisers Hyderabad            11
Name: batsman_runs, Length: 2186, dtype: int64

In [12]:
#8. Combine matches and deliveries to compute strike rate of each batsman in each match.
a=full.groupby(['match_id','batter','season'])
b=a['total_runs'].sum()
c=a['total_runs'].count()
d=b/c*100
d

match_id  batter         season
335982    AA Noffke      2007/08     91.666667
          B Akhil        2007/08      0.000000
          BB McCullum    2007/08    219.480519
          CL White       2007/08     60.000000
          DJ Hussey      2007/08    100.000000
                                       ...
1426312   SP Narine      2024       300.000000
          SS Iyer        2024       200.000000
          Shahbaz Ahmed  2024       114.285714
          TM Head        2024         0.000000
          VR Iyer        2024       207.407407
Name: total_runs, Length: 16515, dtype: float64

In [13]:
#9.For each season, get total runs scored (join matches → deliveries).
a=full.groupby('season')['total_runs'].sum()
a

season
2007/08    17937
2009       16353
2009/10    18883
2011       21154
2012       22453
2013       22602
2014       18931
2015       18353
2016       18862
2017       18786
2018       19901
2019       19434
2020/21    19416
2021       18637
2022       24395
2023       25688
2024       25971
Name: total_runs, dtype: int64

In [14]:
#10.For each season, find total wickets taken.
b=full.groupby('season')['is_wicket'].sum()
#if we want excluding run out
a=full[full['dismissal_kind']!='run out']
c=a.groupby('season')['is_wicket'].sum()
c

season
2007/08    605
2009       622
2009/10    632
2011       739
2012       773
2013       833
2014       607
2015       627
2016       592
2017       653
2018       664
2019       643
2020/21    632
2021       671
2022       851
2023       861
2024       831
Name: is_wicket, dtype: int64

In [15]:
#11.Find bowlers who conceded more than 50 runs in a match.
a=full.groupby(['match_id','bowler'])['total_runs'].sum()
b=a[a>50]
b

match_id  bowler
335982    JH Kallis              52
335983    JR Hopes               54
335989    JDP Oram               53
          P Amarnath             57
335990    MM Patel               55
                                 ..
1426297   Simarjeet Singh        60
1426300   Kuldeep Yadav          53
1426302   Naveen-ul-Haq          51
1426306   SN Thakur              62
1426307   Nithish Kumar Reddy    54
Name: total_runs, Length: 283, dtype: int64

In [16]:
#12. For each match, find the dismissal types that occurred.
a=full.groupby('match_id')['dismissal_kind'].unique()
a

match_id
335982                        [nan, caught, bowled, run out]
335983                            [nan, caught, bowled, lbw]
335984                   [nan, caught, run out, lbw, bowled]
335985     [nan, caught, retired hurt, run out, stumped, ...
335986                   [nan, caught, bowled, run out, lbw]
                                 ...
1426307                       [nan, caught, run out, bowled]
1426309                  [nan, bowled, caught, run out, lbw]
1426310              [nan, caught, bowled, stumped, run out]
1426311                       [nan, caught, bowled, run out]
1426312                           [nan, bowled, caught, lbw]
Name: dismissal_kind, Length: 1095, dtype: object

In [17]:
#13.Find batsmen who scored more than 30 runs in a single over.
a=full.groupby(['match_id','batter','over'])
b=a['batsman_runs'].sum()
c=b[b>30]
c

match_id  batter      over
501247    CH Gayle    2       36
734047    SK Raina    5       32
1254076   RA Jadeja   19      36
1304060   PJ Cummins  15      34
1422138   R Shepherd  19      32
Name: batsman_runs, dtype: int64

In [18]:
#14.For each batting team, compute total runs in each match.
a=full.groupby(['match_id','batting_team'])['total_runs'].sum().sort_values(ascending=False).head(10)
a

match_id  batting_team
1426268   Sunrisers Hyderabad            287
1422126   Sunrisers Hyderabad            277
1422134   Kolkata Knight Riders          272
1426273   Sunrisers Hyderabad            266
598027    Royal Challengers Bangalore    263
1426280   Punjab Kings                   262
1426268   Royal Challengers Bengaluru    262
1426280   Kolkata Knight Riders          261
1426281   Delhi Capitals                 257
1359512   Lucknow Super Giants           257
Name: total_runs, dtype: int64

In [19]:
#15. For each bowling team, compute total runs conceded in each match.
a=full.groupby(['match_id','bowling_team'])['total_runs'].sum().sort_values(ascending=False).head(10)
a

match_id  bowling_team
1426268   Royal Challengers Bengaluru    287
1422126   Mumbai Indians                 277
1422134   Delhi Capitals                 272
1426273   Delhi Capitals                 266
598027    Pune Warriors                  263
1426280   Kolkata Knight Riders          262
1426268   Sunrisers Hyderabad            262
1426280   Punjab Kings                   261
1359512   Punjab Kings                   257
1426281   Mumbai Indians                 257
Name: total_runs, dtype: int64

In [20]:
#16. Identify matches where the winning team scored more runs in powerplay (overs 1–6).
a=full[full['over']<6]
b=a.groupby(['batting_team','match_id'])['total_runs'].sum().sort_values(ascending=False).head(10)
b

batting_team                 match_id
Sunrisers Hyderabad          1426273     125
                             1426295     107
Kolkata Knight Riders        1082636     105
Chennai Super Kings          734047      100
Punjab Kings                 1426280      93
Delhi Capitals               1426281      92
Royal Challengers Bengaluru  1426290      92
Chennai Super Kings          829729       90
Kolkata Knight Riders        1422134      88
Delhi Capitals               1426273      88
Name: total_runs, dtype: int64

In [21]:
#17.For each match, find the bowler with the most dot balls.
a=full[full['batsman_runs']==0]
b=a.groupby('bowler')['batsman_runs'].count().sort_values(ascending=False).head(10)
b

bowler
B Kumar            1872
R Ashwin           1758
SP Narine          1694
PP Chawla          1402
JJ Bumrah          1391
Harbhajan Singh    1390
UT Yadav           1381
SL Malinga         1357
YS Chahal          1349
RA Jadeja          1324
Name: batsman_runs, dtype: int64

In [28]:
#18. For each match, find the batsman with the highest strike rate (min 10balls).
a=full.groupby(['batter','match_id'])['batsman_runs'].count()
b=a[a>10]
c=full.groupby(['batter','match_id'])['batsman_runs'].sum()
d=c/b*100
d.sort_values(ascending=False).head(10)

batter           match_id
Abhishek Sharma  1426273     383.333333
PJ Cummins       1304060     373.333333
KA Pollard       419152      346.153846
PD Salt          1426274     342.857143
J Fraser-McGurk  1426273     342.105263
AB de Villiers   829737      341.666667
AD Russell       1136573     341.666667
N Pooran         1359532     338.461538
Abdul Samad      1426268     336.363636
SK Raina         734047      334.615385
Name: batsman_runs, dtype: float64

In [22]:
#19. Calculate the economy of each bowler per season (join deliveries →matches).
a=full.groupby(['bowler','match_id'])['over'].nunique()
a

bowler          match_id
A Ashish Reddy  548329      2
                548341      4
                548346      3
                548348      3
                548352      2
                           ..
Z Khan          1082622     2
                1082635     4
                1082640     4
                1082642     4
                1082646     4
Name: over, Length: 12978, dtype: int64

In [23]:
#20.Find bowlers who bowled maiden overs in a match.
a=full.groupby(['match_id','bowler','over'])['total_runs'].sum()
b=a[a==0].sort_values(ascending=False).head(10)
b

match_id  bowler         over
1426312   Harshit Rana   14      0
335984    GD McGrath     2       0
335986    I Sharma       3       0
335991    IK Pathan      19      0
335992    SK Warne       11      0
335997    ST Jayasuriya  13      0
336000    SR Watson      19      0
336005    M Ntini        0       0
336006    IK Pathan      19      0
          P Kumar        10      0
Name: total_runs, dtype: int64

In [24]:
#21. For each match, find the over with the most runs.

In [25]:
full['batsman_runs'].unique()

array([0, 4, 6, 1, 2, 5, 3])

In [26]:
a=full[(full['batsman_runs']==4) | (full['batsman_runs']==6)]
b=a.groupby(['match_id','batting_team'])['batsman_runs'].count().sort_values(ascending=False).head(10)
b

match_id  batting_team
598027    Royal Challengers Bangalore    42
1426268   Sunrisers Hyderabad            41
1359512   Lucknow Super Giants           41
1426273   Sunrisers Hyderabad            40
1426280   Kolkata Knight Riders          40
1422134   Kolkata Knight Riders          40
1426268   Royal Challengers Bengaluru    40
1426280   Punjab Kings                   39
1136604   Kolkata Knight Riders          39
1426281   Delhi Capitals                 39
Name: batsman_runs, dtype: int64

In [27]:
#find the bowler with the best economy rate in each season
a=full.groupby(['match_id','bowler','over','season'])['total_runs'].sum()
b=full.groupby(['match_id','bowler','total_runs'])['over'].nunique()
c=a/b.sort_values(ascending=False)
c

match_id  bowler     over  season   total_runs
335982    AA Noffke  3     2007/08  1              5.750000
                                    0              7.666667
                                    2             11.500000
                                    4             11.500000
                                    6             23.000000
                                                    ...
1426312   VG Arora   5     2024     1              5.666667
                                    0              5.666667
                                    2             17.000000
                                    4             17.000000
                                    6             17.000000
Length: 183697, dtype: float64

In [28]:
a=full[full['batsman_runs']==6]
a.groupby(['batting_team','season','venue'])['batsman_runs'].count()

batting_team         season   venue
Chennai Super Kings  2007/08  Dr DY Patil Sports Academy                                             7
                              Feroz Shah Kotla                                                       5
                              M Chinnaswamy Stadium                                                  8
                              MA Chidambaram Stadium, Chepauk                                       39
                              Punjab Cricket Association Stadium, Mohali                            16
                                                                                                    ..
Sunrisers Hyderabad  2024     MA Chidambaram Stadium, Chepauk, Chennai                              16
                              Maharaja Yadavindra Singh International Cricket Stadium, Mullanpur     8
                              Narendra Modi Stadium, Ahmedabad                                      12
                              Rajiv Gandhi International Stadium, Uppal, Hyderabad                  78
                              Wankhede Stadium, Mumbai                                               5
Name: batsman_runs, Length: 1106, dtype: int64

In [29]:
full.groupby(['season','venue','batting_team'])['winner'].count()

season   venue                       batting_team
2007/08  Dr DY Patil Sports Academy  Chennai Super Kings            124
                                     Deccan Chargers                 77
                                     Delhi Daredevils               114
                                     Mumbai Indians                 348
                                     Rajasthan Royals               229
                                                                   ...
2024     Wankhede Stadium, Mumbai    Lucknow Super Giants           130
                                     Mumbai Indians                 828
                                     Rajasthan Royals                99
                                     Royal Challengers Bengaluru    128
                                     Sunrisers Hyderabad            131
Name: winner, Length: 1127, dtype: int64

In [30]:
#38.Calculate strike rate of each batsman (runs per ball faced).
ball=full[full['extras_type']!='wides'].groupby(['match_id','batter'])['batsman_runs'].count()
b=ball[ball>10]
runs = full.groupby(['match_id','batter'])['batsman_runs'].sum()
a=runs/b*100
c=a.sort_values(ascending=False).head(10)
d=c.reset_index().rename(columns={0:'batsman_strikerate'})
d

   match_id           batter  batsman_runs
0   1426273  Abhishek Sharma    383.333333
1   1304060       PJ Cummins    373.333333
2    829737   AB de Villiers    372.727273
3   1175372       AD Russell    369.230769
4   1426273  J Fraser-McGurk    361.111111
5    734047         SK Raina    348.000000
6    419152       KA Pollard    346.153846
7   1426274          PD Salt    342.857143
8   1136573       AD Russell    341.666667
9   1359532         N Pooran    338.461538

In [31]:
#39.Count how many deliveries were bowled by each bowler in powerplay overs.
a=full[full['over']<=6]
b=a.groupby(['season','bowler'])['ball'].count()
c=b.sort_values(ascending=False).head(10)
c

season   bowler
2019     DL Chahar         329
2012     P Kumar           300
2007/08  MS Gony           290
2023     Mohammed Shami    281
2022     TA Boult          268
2021     DL Chahar         263
2015     A Nehra           259
2013     MM Sharma         259
         I Sharma          253
2022     Mohammed Shami    251
Name: ball, dtype: int64

In [33]:
a#40. Find which season had the highest total number of runs scored.
a=full.groupby(['season'])['total_runs'].sum().sort_values(ascending=False).head(1)
a

season
2024    25971
Name: total_runs, dtype: int64

In [34]:
#43.Identify the match where the most wickets fell.
a=full.groupby(['match_id','season','batting_team','bowling_team'])['is_wicket'].sum().sort_values(ascending=False).head(10)
a

match_id  season  batting_team         bowling_team
1082625   2017    Mumbai Indians       Gujarat Lions                  12
598014    2013    Kings XI Punjab      Rajasthan Royals               10
598007    2013    Kings XI Punjab      Chennai Super Kings            10
548380    2012    Delhi Daredevils     Chennai Super Kings            10
597998    2013    Delhi Daredevils     Kolkata Knight Riders          10
598020    2013    Delhi Daredevils     Chennai Super Kings            10
598018    2013    Pune Warriors        Sunrisers Hyderabad            10
598046    2013    Chennai Super Kings  Mumbai Indians                 10
598037    2013    Kings XI Punjab      Mumbai Indians                 10
598023    2013    Rajasthan Royals     Royal Challengers Bangalore    10
Name: is_wicket, dtype: int64

In [35]:
#49. Find matches where total extras exceeded 20.
a=full.groupby(['match_id','season','bowling_team'])['extra_runs'].sum()
b=a[a>20]
b=b.sort_values(ascending=False).head(10)
b

match_id  season   bowling_team
335986    2007/08  Deccan Chargers                28
501260    2011     Royal Challengers Bangalore    27
392227    2009     Mumbai Indians                 26
336023    2007/08  Royal Challengers Bangalore    26
829811    2015     Rajasthan Royals               26
733983    2014     Royal Challengers Bangalore    25
1359516   2023     Mumbai Indians                 25
392235    2009     Delhi Daredevils               24
501254    2011     Kings XI Punjab                23
336028    2007/08  Kings XI Punjab                23
Name: extra_runs, dtype: int64

In [36]:
#48.Calculate batting average for each batsman in the merged dataset.
q=full[full['batter']=='V Kohli']
a=q.groupby('batter')['batsman_runs'].sum()
b=q.groupby('player_dismissed').count()
c=a/b
c

,V Kohli,ball,batsman_runs,batter,batting_team,bowler,bowling_team,city,date,dismissal_kind,...,target_runs,team1,team2,toss_decision,toss_winner,total_runs,umpire1,umpire2,venue,winner
player_dismissed,,,,,,,,,,,,,,,,,,,,,
AB de Villiers,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Anuj Rawat,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
GJ Maxwell,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
JH Kallis,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
KD Karthik,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
KP Pietersen,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Mandeep Singh,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
PA Patel,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Q de Kock,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
R Vinay Kumar,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
TM Head,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
V Kohli,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [82]:
runs = full.groupby('batter')['batsman_runs'].sum()
outs = full.groupby('player_dismissed').size()
average = (runs / outs).reset_index(name='batting_average')
average

              index  batting_average
0    A Ashish Reddy        18.666667
1          A Badoni        24.384615
2        A Chandila              NaN
3          A Chopra         8.833333
4       A Choudhary        25.000000
..              ...              ...
669   Yashpal Singh        11.750000
670     Younis Khan         3.000000
671   Yudhvir Singh         5.500000
672    Yuvraj Singh        24.810811
673          Z Khan         8.357143

[674 rows x 2 columns]

In [7]:
import pandas as pd

data = {
    'player': ['A','B','C','A','B','C','A','B','D','E'],
    'runs'  : [10,20,15,30,25,10,5,40,50,60],
    'balls' : [8,12,10,20,18,11,6,25,30,35],
    'team'  : ['X','X','Y','Y','X','Y','X','Y','X','Y'],
    'match' : [1,1,1,2,2,2,3,3,3,3]
}

df = pd.DataFrame(data)
df

  player  runs  balls team  match
0      A    10      8    X      1
1      B    20     12    X      1
2      C    15     10    Y      1
3      A    30     20    Y      2
4      B    25     18    X      2
5      C    10     11    Y      2
6      A     5      6    X      3
7      B    40     25    Y      3
8      D    50     30    X      3
9      E    60     35    Y      3

In [8]:
df.groupby('team').size()

team
X    5
Y    5
dtype: int64

In [9]:
a=df.groupby('team')['runs'].sum()
a.reset_index()

  team  runs
0    X   110
1    Y   155

In [5]:
full.columns

Index(['id', 'season', 'city', 'date', 'match_type', 'player_of_match',
       'venue', 'team1', 'team2', 'toss_winner', 'toss_decision', 'winner',
       'result', 'result_margin', 'target_runs', 'target_overs', 'super_over',
       'method', 'umpire1', 'umpire2', 'match_id', 'inning', 'batting_team',
       'bowling_team', 'over', 'ball', 'batter', 'bowler', 'non_striker',
       'batsman_runs', 'extra_runs', 'total_runs', 'extras_type', 'is_wicket',
       'player_dismissed', 'dismissal_kind', 'fielder'],
      dtype='object')

In [10]:
df

  player  runs  balls team  match
0      A    10      8    X      1
1      B    20     12    X      1
2      C    15     10    Y      1
3      A    30     20    Y      2
4      B    25     18    X      2
5      C    10     11    Y      2
6      A     5      6    X      3
7      B    40     25    Y      3
8      D    50     30    X      3
9      E    60     35    Y      3

In [13]:
def fun(x):
    if x<20:
        return x+10
    else:
        return x
df['extra_runs']=df['runs'].apply(fun)

In [14]:
df

  player  runs  balls team  match  extra_runs
0      A    10      8    X      1          20
1      B    20     12    X      1          20
2      C    15     10    Y      1          25
3      A    30     20    Y      2          30
4      B    25     18    X      2          25
5      C    10     11    Y      2          20
6      A     5      6    X      3          15
7      B    40     25    Y      3          40
8      D    50     30    X      3          50
9      E    60     35    Y      3          60

In [29]:
##21. For each match, find the over with the most runs.
a=full.groupby(['match_id','over'])['total_runs'].sum()
a

match_id  over
335982    0        7
          1       23
          2        9
          3       27
          4       18
                  ..
1426312   14       0
          15       8
          16      10
          17       5
          18       0
Name: total_runs, Length: 21717, dtype: int64

In [37]:
#22. For each match, identify bowlers who took multiple wickets.
a=full.groupby(['match_id','bowler','over'])['is_wicket'].sum()
a=a[a>1].sort_values(ascending=False).head(10) 
a

match_id  bowler             over
548357    SP Narine          19      4
598018    A Mishra           18      4
548318    DE Bollinger       19      4
1136614   M Prasidh Krishna  19      4
1254058   HV Patel           19      4
1304074   Umran Malik        19      4
1304076   YS Chahal          16      4
1304081   AD Russell         19      4
1359490   JP Behrendorff     18      4
1359504   MM Sharma          19      4
Name: is_wicket, dtype: int64

In [38]:
#23. Get number of balls faced by each batsman in winning matches only.
a=full[full['extras_type']!='wides'].groupby(['winner','batter'])['batsman_runs'].count().sort_values(ascending=False)
a

winner                       batter
Royal Challengers Bangalore  V Kohli       2836
Mumbai Indians               RG Sharma     2614
Chennai Super Kings          SK Raina      2229
                             MS Dhoni      1774
Kolkata Knight Riders        G Gambhir     1662
                                           ...
Gujarat Titans               OF Smith         1
Rajasthan Royals             CV Varun         1
                             D Brevis         1
                             D Salunkhe       1
                             DR Sams          1
Name: batsman_runs, Length: 4175, dtype: int64

In [39]:
#24.Total extras conceded by each team per season.
a=full.groupby(['season','bowling_team'])['extra_runs'].sum().sort_values(ascending=False)
a

season   bowling_team
2022     Rajasthan Royals         181
2023     Mumbai Indians           175
2013     Rajasthan Royals         172
2009/10  Chennai Super Kings      169
         Mumbai Indians           166
                                 ...
2014     Sunrisers Hyderabad       81
2009     Chennai Super Kings       79
2018     Sunrisers Hyderabad       77
2019     Kolkata Knight Riders     76
2024     Gujarat Titans            74
Name: extra_runs, Length: 146, dtype: int64

In [57]:
#25. Identify umpires officiating in matches with &gt;200 total runs.
a=full.groupby(['match_id','umpire1', 'umpire2'])['total_runs'].sum()
a[a>200].reset_index()

      match_id                umpire1               umpire2  total_runs
0       335982              Asad Rauf           RE Koertzen         304
1       335983              MR Benson            SL Shastri         447
2       335984              Aleem Dar        GA Pratapkumar         261
3       335985               SJ Davis             DJ Harper         331
4       335986              BF Bowden           K Hariharan         222
...        ...                    ...                   ...         ...
1050   1426307            Nitin Menon             VK Sharma         429
1051   1426309           AK Chaudhary              R Pandit         323
1052   1426310  KN Ananthapadmanabhan  MV Saidharshan Kumar         346
1053   1426311            Nitin Menon             VK Sharma         314
1054   1426312          J Madanagopal           Nitin Menon         227

[1055 rows x 4 columns]

In [40]:
#26.Find the batsman who scored the highest runs in matches won by chasing.
a=full[full['winner']== full['batting_team']]  ##batting_team is nothing but chasing team
b=a.groupby('batter')['batsman_runs'].sum().sort_values(ascending=False)
c=b.reset_index()
c

            batter  batsman_runs
0          V Kohli          4278
1         S Dhawan          3989
2        RG Sharma          3951
3        DA Warner          3710
4         SK Raina          3559
..             ...           ...
491    Arshad Khan             0
492  Anirudh Singh             0
493    Shivam Mavi             0
494     Yash Dayal             0
495        A Nehra             0

[496 rows x 2 columns]

In [41]:
#27. For each match, show total runs in 1st innings vs 2nd innings.
a=full[full['winner']== full['batting_team']].groupby(['match_id'])['total_runs'].sum()
b=full[full['winner']== full['bowling_team']].groupby(['match_id'])['total_runs'].sum()
result=pd.DataFrame({
    'First_inning':a,
    'Second_inning':b
})
result

          First_inning  Second_inning
match_id
335982             222             82
335983             240            207
335984             132            129
335985             166            165
335986             112            110
...                ...            ...
1426307            215            214
1426309            164            159
1426310            174            172
1426311            175            139
1426312            114            113

[1090 rows x 2 columns]

In [42]:
#28. Identify matches where total 6s &gt; total 4s.
a=full[full['batsman_runs']==4].groupby('match_id')['batsman_runs'].count()
b=full[full['batsman_runs']==6].groupby('match_id')['batsman_runs'].count()
summary=pd.DataFrame({
    'total_4s':a,
    'total_6s':b
})
a=summary[summary['total_4s']<summary['total_6s']]
a

          total_4s  total_6s
match_id
548314          14        16
1082598         17        20
1082632         24        31
1136565         20        31
1136584         18        33
1216496         18        33
1216531         14        22
1254116         11        12
1304049         20        27
1304115         17        21
1359498         24        33
1359507         28        30
1422121         25        29
1422126         31        38
1422128         20        24
1422133         21        22
1426280         37        42

In [12]:
#29.For each match, find the highest scoring batsman in the last 5 overs.
a=full[full['over']>15]
b=a.groupby(['match_id','batter'])['batsman_runs'].sum().sort_values(ascending=False).head(10)
b.reset_index()

   match_id        batter  batsman_runs
0   1216510      KL Rahul            60
1   1136602       RR Pant            59
2    734005  Yuvraj Singh            58
3    980987       V Kohli            58
4    598060    KA Pollard            57
5    829799     DA Miller            57
6    335982   BB McCullum            56
7   1359531      SA Yadav            56
8   1304112     Q de Kock            54
9   1216541     HH Pandya            54

In [17]:
#30.Get bowlers who delivered more than 100 balls in a season.
a=full.groupby(['season','bowler'])['batsman_runs'].count()
b=a[a>100]
b

season   bowler
2007/08  A Kumble       236
         A Mishra       123
         A Nehra        280
         AB Agarkar     168
         AB Dinda       245
                       ...
2024     UT Yadav       129
         VG Arora       201
         YS Chahal      362
         Yash Dayal     322
         Yash Thakur    225
Name: batsman_runs, Length: 962, dtype: int64

In [ ]:
#31.For each match, list the number of reviews taken (if present in data).

In [31]:
#32. For each team, find wins where they scored more than 180 runs.
a=full[full['winner']==full['batting_team']].groupby(['match_id','winner'])['total_runs'].sum() & full[full['winner']==full['bowling_team']].groupby(['match_id','winner'])['total_runs'].sum()
b=a[a>180]
b.sort_values(ascending=False).head(10)

match_id  winner
1426268   Sunrisers Hyderabad      262
1426280   Punjab Kings             260
1426274   Kolkata Knight Riders    220
1254084   Mumbai Indians           218
1254061   Punjab Kings             217
419137    Chennai Super Kings      214
1426307   Sunrisers Hyderabad      214
1359489   Lucknow Super Giants     212
1359516   Mumbai Indians           212
1136604   Kolkata Knight Riders    212
Name: total_runs, dtype: int64

In [43]:
#33.For each match, find the bowler who conceded most boundaries.
a=full[(full['batsman_runs']==4) | (full['batsman_runs']==6)]
b=a.groupby(['bowler','match_id'])['batsman_runs'].count()
c=b.sort_values(ascending=False).head(10)
c

bowler          match_id
L Wood          1426281     13
S Kaul          1216538     12
VR Aaron        548380      12
P Awana         734047      12
Arshdeep Singh  1359520     12
KT Maphaka      1422126     12
TS Mills        1304072     11
AS Joseph       1178402     11
Sandeep Sharma  734007      11
Akash Madhwal   1426263     11
Name: batsman_runs, dtype: int64

In [44]:
#34. Identify matches where first innings score &lt; 120 but team won.
a=full[full['inning']==1]
b=a.groupby(['match_id','winner'])['total_runs'].sum()
c=b[b<120]
c

match_id  winner
335986    Kolkata Knight Riders    110
336005    Rajasthan Royals         109
336008    Mumbai Indians           103
336021    Mumbai Indians            67
336022    Kings XI Punjab          118
                                  ...
1304082   Sunrisers Hyderabad       68
1304105   Mumbai Indians            97
1359522   Gujarat Titans           118
1426270   Delhi Capitals            89
1426312   Kolkata Knight Riders    113
Name: total_runs, Length: 80, dtype: int64

In [45]:
#35. For each season, find the total number of matches that went to the last over.
a=full[full['over']>=19]
b=a.groupby(['season'])['match_id'].nunique()
b

season
2007/08    51
2009       55
2009/10    59
2011       67
2012       71
2013       75
2014       57
2015       55
2016       57
2017       56
2018       55
2019       58
2020/21    60
2021       59
2022       71
2023       73
2024       68
Name: match_id, dtype: int64

In [46]:
#36. For each match, find total leg-byes conceded.
a=full[full['extras_type']=='legbyes']
b=a.groupby('match_id')['extra_runs'].sum()
b

match_id
335982     12
335983      6
335984      3
335985      6
335986     12
           ..
1426307    11
1426309     9
1426310     3
1426311     2
1426312     4
Name: extra_runs, Length: 1059, dtype: int64

In [73]:
#37. Find teams that conceded more wides than no-balls.
a=full[full['extras_type']=='wides'].groupby('batting_team')['extras_type'].count()
b=full[full['extras_type']=='noballs'].groupby('batting_team')['extras_type'].count()
result=pd.DataFrame({
    'wide_ball':a,
    'no_balls':b
})
res=result[result['wide_ball']>result['no_balls']]

                             wide_ball  no_balls
batting_team
Chennai Super Kings                894       131
Deccan Chargers                    237        45
Delhi Capitals                     349        46
Delhi Daredevils                   565        64
Gujarat Lions                      111        16
Gujarat Titans                     196        28
Kings XI Punjab                    671        67
Kochi Tuskers Kerala                61        11
Kolkata Knight Riders             1018       111
Lucknow Super Giants               230        19
Mumbai Indians                    1063       124
Pune Warriors                      145        23
Punjab Kings                       273        39
Rajasthan Royals                   804       122
Rising Pune Supergiant              56         1
Rising Pune Supergiants             52         7
Royal Challengers Bangalore        872       122
Royal Challengers Bengaluru         84         2
Sunrisers Hyderabad                699        91

In [12]:
#38for each batsman, find highest runs againest a specific team.
b=full[full['bowling_team']=='Pune Warriors']
a=b.groupby(['match_id','batter'])['batsman_runs'].sum().sort_values(ascending=False).head(10)
a

match_id  batter
598027    CH Gayle         175
548358    SR Watson         90
548337    V Sehwag          87
548348    KC Sangakkara     82
548327    CH Gayle          81
598025    DA Miller         80
548341    CL White          78
598025    Mandeep Singh     77
548348    CL White          74
598061    YK Pathan         72
Name: batsman_runs, dtype: int64

In [9]:
#39.list bowlers tacking wicket on the first delivery of an over
a=full[full['ball']==1]
b=a[a['is_wicket']==1]
c=b.groupby(['bowler'])['is_wicket'].count()
c.sort_values(ascending=False).head(10)

bowler
PP Chawla         39
B Kumar           33
R Ashwin          32
DJ Bravo          29
SL Malinga        29
Rashid Khan       28
SP Narine         26
AR Patel          25
UT Yadav          25
Sandeep Sharma    25
Name: is_wicket, dtype: int64

In [18]:
#40.for each match  find the over with most wides
a=full[full['extras_type']=='wides']
b=a.groupby(['match_id','over'])['extra_runs'].count().sort_values(ascending=False).head(10)
b

match_id  over
1304068   17      6
1426312   3       5
1426272   18      5
1359479   18      5
1254069   10      5
1304083   12      5
1304093   18      5
1304074   15      5
1136584   18      5
733999    16      5
Name: extra_runs, dtype: int64

In [27]:
#41.for each match find the bowler who bowled the final over
a=full[full['over']==19]
b=a.groupby(['match_id','bowler'])['bowling_team'].count().sort_values(ascending=False).head(10)

In [46]:
#42.identify the match with most extras concided by loosing team

In [51]:
#43.for each venue find the match score.
a=full.groupby(['season','match_id'])['total_runs'].sum().sort_values(ascending=False).head(10)

In [50]:
#44.for each match,find the patnership with the most runs

549

In [58]:
# 43.for each venue,find the average match score
a=full.groupby(['venue','match_id'])['total_runs'].mean().sort_values(ascending=False).head(10)

In [68]:
# 45.get number of players dismissed  catch in each team
a=full[full['dismissal_kind']=='caught']
b=a.groupby('batting_team')['player_dismissed'].count().sort_values(ascending=False).head(10)

In [76]:
#46.for each match ,find overs without any boundaries
a=full[(full['batsman_runs']!=4)|(full['batsman_runs']!=6)]
b=a.groupby("match_id")['over'].value_counts()
b

match_id  over
335982    0       14
          6       14
          8       14
          12      14
          14      14
                  ..
1426312   14       6
          15       6
          16       6
          17       6
          18       3
Name: count, Length: 21717, dtype: int64

In [83]:
#50.for each match ,compare runs scored in odd overs vs even overs
def satya(x):
    if x%2==0:
        return x
odd=full[full['over']==satya]
odd

Empty DataFrame
Columns: [id, season, city, date, match_type, player_of_match, venue, team1, team2, toss_winner, toss_decision, winner, result, result_margin, target_runs, target_overs, super_over, method, umpire1, umpire2, match_id, inning, batting_team, bowling_team, over, ball, batter, bowler, non_striker, batsman_runs, extra_runs, total_runs, extras_type, is_wicket, player_dismissed, dismissal_kind, fielder]
Index: []

[0 rows x 37 columns]

In [7]:
full['dismissal_kind'].unique()

array([nan, 'caught', 'bowled', 'run out', 'lbw', 'retired hurt',
       'stumped', 'caught and bowled', 'hit wicket',
       'obstructing the field', 'retired out'], dtype=object)

In [9]:
a=full[full['dismissal_kind']!='run out']
a.groupby("bowler")['is_wicket'].sum().sort_values(ascending=False)

bowler
YS Chahal          205
PP Chawla          192
DJ Bravo           183
R Ashwin           181
B Kumar            181
                  ...
Atharva Taide        0
Aman Hakim Khan      0
Sunny Gupta          0
Sumit Kumar          0
A Dananjaya          0
Name: is_wicket, Length: 530, dtype: int64